/*------------------------------------------------------------------
    UI: Buttons
-------------------------------------------------------------------*/

.arrow-right {

	span {
		position: relative;

		&:after {
			content: ">";
			position: absolute;
			vertical-align: middle;
			margin: 0 0 0 12px;
		}
	}
}

.ui-link, a.ui-link:link, a.ui-link:visited, {
	@extend .verlag-black;
	color: $red;
	display: inline-block;
	font-size: 13px;
	font-size: 1.3rem;
	letter-spacing: 0.08em;
	text-decoration: none;
	text-transform: uppercase;

	&:hover,
	&:active {
		color: $pumpkin;
	}
}

a.ui-link--right:link, a.ui-link--right:visited {
	@extend .ui-link;

	&:after {
		content: ">";
		display: inline-block;
		margin: 0 0 0 8px;
		vertical-align: middle;
	}
}

a.ui-link--left:link, a.ui-link--left:visited {
	@extend .ui-link;

	&:before {
		content: "<";
		display: inline-block;
		margin: 0 8px 0 0;
		vertical-align: middle;
	}
}

a.btn--box:link, a.btn--box:visited {
	@include transition(all .25s);
	@extend .verlag-book;
	color: $primary-copy;
    color: #aaa;
	display: block;
	font-size: 20px;
	font-size: 2.0rem;
    letter-spacing: 1px;
    padding: 70px 0px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;

	&:hover, &:active {
		background-color: $red;
		border-color: $red;
		color: #FFF;
	}

}

a.btn:link, a.btn:visited {

	$border-width: 3px;

	@extend .verlag-black;
	@include border-radius(3px);
	@include transition(all .25s);

	display: table;
	height: 60px;
	margin: 0 0 30px 0;
	padding: 0 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;


	// Wrap label in a <span> for vertical alignment
	span {
		display: table-cell;
		font-size: 13px;
		font-size: 1.3rem;
		line-height: 16px;
		line-height: 1.6rem;
		letter-spacing: 0.2rem;
		vertical-align: middle;

		span {
			display: inline;
			width: auto;
		}
		// Arrow style
		span + span {
			display: inline-block;
			margin-left: 5px;
			margin-top: -2px;
			vertical-align: none;
		}
	}
	@include respond($lrg) {
		span {
			font-size: 14px;
			font-size: 1.4rem;
			letter-spacing: 0.3rem;
		}
	}
	@include respond($xlrg) {
		padding: 0 50px;

		span {
			font-size: 17px;
			font-size: 1.7rem;
		}
	}

	// Arrows

	&.arrow-right {
		@extend .arrow-right;
		padding-right: 40px;

		@include respond($xlrg) {
			padding-right: 70px;
		}
	}

	// Button sizes

	&.lrg {
		height: 85px;
		margin-left: auto;
		margin-right: auto;
		width: 33.5%;
	}
	&.full {
		height: 60px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	// Solid buttons

	&.red, &.blue, &.olive-green, &.peach, &.purple, &.pumpkin, &.yellow-green {
		border: $border-width;
		border-style: solid;
		color: #FFF;
	}

	&.red {
		background-color: $red;
		border-color: $red;

		&:hover, &:active {
			background-color: #FFF;
			color: $red;
		}
	}
	&.blue {
		background-color: $blue;
		border-color: $blue;
	}
	&.olive-green {
		background-color: $olive-green;
		border-color: $olive-green;
	}
	&.peach {
		background-color: $peach;
		border-color: $peach;
	}
	&.purple {
		background-color: $purple;
		border-color: $purple;
	}
	&.pumpkin {
		background-color: $pumpkin;
		border-color: $pumpkin;
	}
	&.yellow-green {
		background-color: $yellow-green;
		border-color: $yellow-green;
	}

	// Ghost buttons

	&.ghost {
		background-color: transparent;
		border: $border-width;
		border-style: solid;
	}

	&.ghost.red {
		border-color: $red;
		color: $red;

		&:hover, &:active {
			background-color: $red;
			color: #FFF;
		}
	}
	&.ghost.blue {
		border-color: $blue;
		color: $blue;

		&:hover, &:active {
			background-color: $blue;
			color: #FFF;
		}
	}
	&.ghost.olive-green {
		border-color: $olive-green;
		color: $olive-green;

		&:hover, &:active {
			background-color: $olive-green;
			color: #FFF;
		}
	}
	&.ghost.peach {
		border-color: $peach;
		color: $peach;

		&:hover, &:active {
			background-color: $peach;
			color: #FFF;
		}
	}
	&.ghost.purple {
		border-color: $purple;
		color: $purple;

		&:hover, &:active {
			background-color: $purple;
			color: #FFF;
		}
	}
	&.ghost.pumpkin {
		border-color: $pumpkin;
		color: $pumpkin;

		&:hover, &:active {
			background-color: $pumpkin;
			color: #FFF;
		}
	}
	&.ghost.yellow-green {
		border-color: $yellow-green;
		color: $yellow-green;

		&:hover, &:active {
			background-color: $yellow-green;
			color: #FFF;
		}
	}
	&.ghost.white {
		border-color: #FFF;
		color: #FFF;

		&:hover, &:active {
			background-color: $blue;
			border-color: $blue;
			color: #FFF;
		}
	}
}