/*------------------------------------------------------------------
    FORMS
-------------------------------------------------------------------*/

.form__group {
	@extend .cf;

	.col-1-2 {
		@include respond($med) {
			margin: 0;
			padding-right: 10px;
			width: (1/2 * 100%);

			& + .col-1-2 {
				padding-right: 0;
				padding-left: 10px;
			}
		}
	}

	div:not(.col-1-2) {
		margin: 15px 0 0 0;
	}

	@include respond($med) {
		margin: 0 0 30px 0;
	}
}

.form__submit {
	a.btn:link,
	a.btn:visited {
		float: left;
	}
}

label {
	@extend .archer-med;
	color: $primary-copy;
	display: block;
	font-size: 20px;
	font-size: 2.0rem;
	margin: 0 0 10px 0;
}

input[type="text"],
.form__input__text {
	@extend .archer-book;
	@include border-radius(6px);
	background-color: #FFF;
	border: 1px solid $bordercolor;
	color: $primary-copy;
	display: block;
	font-size: 30px;
	font-size: 3.0rem;
	height: 55px;
	line-height: 55px;
	margin: 0 0 15px 0;
	padding: 2px 0 0 12px;
	width: 100%;

	&.inline-input {
		@extend .verlag-book;
		font-size: 18px;
		font-size: 1.8rem;
	}

	@include respond($med) {
		margin: 0;
	}
}

input[type=text], textarea {
	@include transition(all 0.30s ease-in-out);
	outline: none;
}

input[type=text]:focus, textarea:focus {
	@include box-shadow(rgba(210,35,42,1) 0 0 5px);
	border: 1px solid rgba(210,35,42,1);
}

input[type="checkbox"],
input[type="checkbox"] + label {
	display: inline-block;
	vertical-align: middle;
}

input[type="checkbox"] {}

input[type="checkbox"] + label {
	margin: 0;
}

select {
	@extend .archer-med;
	border: 1px solid transparent;
	color: $primary-copy;
	display: block;
	font-size: 24px;
	font-size: 2.4rem;
	height: 55px;
	margin: 0 0 15px 0;
	padding: 0 0 0 30px;
	width: 100%;

	@include respond($med) {
		margin: 0;
	}
}