/*------------------------------------------------------------------
    UI: Misc
-------------------------------------------------------------------*/

.as-icon-laptop {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.4%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2240px%22%20height%3D%2242px%22%20viewBox%3D%220%200%2040%2042%22%20enable-background%3D%22new%200%200%2040%2042%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23D1D3D4%22%20d%3D%22M20.034%2C21.001c-0.024%2C0-0.046-0.002-0.068-0.003v0.003H20.034z%22/%3E%0D%0A%3Cpath%20fill%3D%22%23D1D3D4%22%20d%3D%22M35.844%2C28.746V11.921c0-1.298-1.062-2.352-2.373-2.352H6.53c-1.312%2C0-2.374%2C1.054-2.374%2C2.352v16.825H0.449%0D%0A%09c0%2C1.259%2C1.031%2C3.685%2C2.302%2C3.685h34.498c1.272%2C0%2C2.302-2.426%2C2.302-3.685H35.844z%20M6.461%2C11.928h27.08v16.818H6.461V11.928z%0D%0A%09%20M22.991%2C31.079h-3.376c-0.198%2C0-0.357-0.159-0.357-0.355s0.16-0.354%2C0.357-0.354h3.376c0.198%2C0%2C0.358%2C0.158%2C0.358%2C0.354%0D%0A%09S23.189%2C31.079%2C22.991%2C31.079z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
	width: 40px;
	height: 42px;
}

.ragged-overlay {
	content: "";
	display: block;
	height: 16px;
	left: 0;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 0;
}

.ragged-overlay--top {
	@extend .ragged-overlay;
	background: url(../_img/as_photo-grid_overlay-top.png) repeat-x center bottom;
	top: 0;
}

.ragged-overlay--btm {
	@extend .ragged-overlay;
	background: url(../_img/as_photo-grid_overlay.png) repeat-x center bottom;
	bottom: 0;
}

.section-illustration {
	margin: 0;
	position: relative;
	text-align: center;
	width: 100%;

	img {
		position: relative;
		margin: 0 auto;
		z-index: 1;
		width: 50%;
	}

	&:after {
		border-top: 1px solid $bordercolor;
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		width: 100%;
		z-index: 0;
	}

	@include respond($med) {
		img {
			border-left: 40px solid #FFF;
			border-right: 40px solid #FFF;
			width: 392px;
		}
	}
}

.featured-recipes__rule {
	border: none;
	height: 70px;
	margin: 45px auto 45px auto;
	position: relative;
	text-align: center;
	width: 100%;

	hr {
		display: none;
	}

	div {
		padding: 0 15px;
		margin: 0 auto;
	}

	&:before, &:after {
		border-bottom: 1px solid $bordercolor;
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		width: 40%;
	}
	&:before {
		left: 0;
	}
	&:after {
		right: 0;
	}

	@include respond($med) {
		&:before, &:after {
			width: 43%;
		}
	}
	@include respond($lrg) {
		&:before, &:after {
			width: 46%;
		}
	}
}

hr {
	background: transparent;
	border: none;
	border-top: 1px solid $bordercolor;
	height: 1px;
	margin: 0 0 90px 0;
}