/*------------------------------------------------------------------
    FOOTER
-------------------------------------------------------------------*/

.footer-container {}

/*------------------------------------------------------------------
    FOOTER: Sign-up form
-------------------------------------------------------------------*/

.page-home {

	.footer__sign-up {
		background-image: url('../_img/as_newsletter_background.png');
		background-color: $lightgrey1;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		border-top: none;

		h3.footer__sign-up__head {
			font-size: 4.2rem;
			line-height: 4.4rem;
			margin: 0 0 60px 0;
		}

		.footer__sign-up__input {
			height: 85px;
		}

		a.footer__sign-up__btn:link,
		a.footer__sign-up__btn:visited {
			height: 85px;
		}

	}

}

.footer__sign-up {
	border-top: 2px solid rgba(0,0,0,.1);
	border-bottom: 2px solid rgba(0,0,0,.1);
	text-align: center;

	.footer__sign-up__input {
		height: 65px;
		margin: 0 0 15px 0;
		width: 100%;
	}

	.container--narrow {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

.footer__sign-up__form {
	@extend .cf;
	margin: 0 auto;
	width: auto;
}

.footer__sign-up__input {
	@include mnw(med) {
		float: left;
	}
}

a.footer__sign-up__btn:link,
a.footer__sign-up__btn:visited {
	height: 57px;
	line-height: 57px;
	width: 100%;

	@include mnw(med) {
		float: right;
	}
}

/*------------------------------------------------------------------
	FOOTER: Primary
-------------------------------------------------------------------*/

$footer-col-gutter: 30px;
$footer-nav-margins: 15px 0 30px 0;

.footer__primary {
	background-color: #FFF;
	height: auto;
	padding: 0;

	.footer__primary__section01 {
		padding: 15px;
		text-align: center;
	}
	.footer__primary__section02 {
		background-color: #f8f8f8;
		padding: 30px;

		h5.module__subhead {
			@extend .verlag-bold;
			color: $red;
			font-size: 20px;
			font-size: 2.0rem;
			padding-bottom: 13px;
			text-transform: uppercase;
		}
	}

	@include respond($med, "min") {
		.footer__primary__section01 {
			padding: 45px;
			text-align: left;
		}
		.footer__primary__section02 {
			border-left: 2px solid #e5e6e7;
			padding: 45px;
			padding-top: 60px;
			padding-left: 75px;

			h5.module__subhead {
				font-size: 15px;
				font-size: 1.5rem;
			}
		}
	}
}

.footer__primary__logo {
	max-width: 95px;
	width: 100%;

	@include respond($med, "min") {
		max-width: 145px;
	}
	@include respond($lrg, "min") {
		max-width: 190px;
	}
}

.footer__primary__contact {

	p {
		@extend .archer-med;
		color: $primary-copy-dark;
		font-size: 28px;
		font-size: 2.8rem;
		line-height: 36px;
		line-height: 3.6rem;
	}
	a:link, a:visited {
		@extend .archer-med;
		color: $primary-copy-dark;
		text-decoration: none;
	}

	@include respond($med, "min") {
		padding-top: 45px;
	}

}

.footer__shop__nav01,
.footer__shop__nav02,
.footer__browse__nav01,
.footer__company__nav01 {

	ul > li {
		margin: 0 0 15px 0;
	}

	ul > li > a:link,
	ul > li > a:visited {
		@extend .verlag-book;
		color: $primary-headline;
		font-size: 18px;
		font-size: 1.8rem;
		letter-spacing: 0.05em;
		text-decoration: none;

		&:hover,
		&:active {
			color: $blue;
		}

	}

	@include respond($med) {

		ul > li {
			margin: 0;
		}

		ul > li > a:link,
		ul > li > a:visited {
			font-size: 15px;
			font-size: 1.5rem;
		}
	}
}

.footer__shop__nav {
	margin: $footer-nav-margins;

	.col-1-2 {
		float: left;
		width: calc((100% - 20px) / 2);

		&:nth-child(2n) {
			margin-right: 0;
		}
	}

	.footer__shop__nav02 {

		ul > li > a:link,
		ul > li > a:visited {
			color: $red;

			span + span {
				color: $primary-headline;
				display: inline-block;
				margin: 0 0 0 10px;
			}

			&:hover,
			&:active {
				color: $blue;

				span + span {
					color: $blue;
				}
			}
		}
	}

	@include respond($med) {
		margin: 0;
		padding-right: $footer-col-gutter;
	}
}

.footer__browse__nav {
	margin: $footer-nav-margins;

	@include respond($med) {
		margin: 0;
		padding-right: $footer-col-gutter;
	}

}

.footer__company__nav {
	margin: $footer-nav-margins;

	@include respond($med) {
		margin: 0;
		padding-right: $footer-col-gutter;
	}
}

.footer__social__nav {
	margin: $footer-nav-margins;

	@include respond($med) {
		margin: 0;
		padding-right: $footer-col-gutter;
	}
}

.footer__social__nav01 {
	@extend .cf;
	margin: 0 0 45px 0;
	width: 100%;

	ul {
		overflow: hidden;
	}

	ul li {
		float: left;
		margin-right: 6px;
		width: 35px;

		&:last-of-type {
			margin-right: 0;
		}
	}

	ul li a:link,
	ul li a:visited {
		@include transition(all .25s);
		@include border-radius(50%);

		border: 1px solid $red;
		color: $red;
		display: block;
		font-size: 1.6rem;
		height: 35px;
		line-height: 35px;
		line-height: 3.5rem;
		text-align: center;
		text-decoration: none;
		vertical-align: middle;
		width: 35px;

		span {
			display: block;
			height: 35px;
			line-height: 35px;
			line-height: 3.5rem;
		}

		&:hover,
		&:active {
			background-color: $blue;
			border-color: $blue;
			color: #FFF;
		}
	}

	@include respond($med) {
		margin: 0;

		ul li {
			& + li {
				& + li {
					margin-right: 0;
				}
			}
		}
	}



//	@include respond($xlrg) {

		ul li {
			margin-right: 17px;
			width: 75px;
		}

		ul li a:link,
		ul li a:visited {
			font-size: 3.6rem;
			height: 75px;
			line-height: 75px;
			line-height: 7.5rem;
			width: 75px;

			span {
				height: 75px;
				line-height: 75px;
				line-height: 7.5rem;
			}
		}

//	}



}

a.footer__social__blog-link:link,
a.footer__social__blog-link:visited {
	@extend .verlag-book;
	display: table;
	color: $primary-headline;
	font-size: 20px;
	font-size: 2.0rem;
	height: 40px;
	margin: 15px auto 0 auto;
	text-decoration: none;

	div {
		display: table-cell;
		vertical-align: middle;
	}
	span {
		display: table-cell;
		padding: 0 0 0 15px;
		vertical-align: middle;
	}

	&:hover,
	&:active {
		color: $blue;
	}

	@include respond($med) {
		font-size: 17px;
		font-size: 1.7rem;
		margin-left: 0;
		margin-right: 0;
	}

}

/*------------------------------------------------------------------
    FOOTER: Secondary
-------------------------------------------------------------------*/

.footer__secondary {
	background-color: $red;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
}

.footer__secondary__copyright {
	color: #FFF;
	margin: 0 auto;
	text-align: center;
	width: auto;
}