/*------------------------------------------------------------------
	SCROLL TO TOP LINK
-------------------------------------------------------------------*/

a.scroll-top:link,
a.scroll-top:visited {
	@include transition(all .5s);
	@include opacity(0);
	@include border-left-radius(3px);
	background-color: $blue;
	bottom: 50px;
	color: #FFF;
	display: block;
	font-size: 18px;
	font-size: 1.8rem;
	height: 40px;
	position: fixed;
	right: 0px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	visibility: hidden;
	width: 40px;
	z-index: $z-scroll-top;

	span {
		display: block;
		margin-top: 10px;
	}

	&.visible {
		@include opacity(1);
		visibility: visible;
	}

	@include respond($med) {
		@include border-radius(3px);
		bottom: 30px;
		right: 30px;
	}
	@include respond($lrg) {
		bottom: 50px;
		right: 50px;
	}
}

/*------------------------------------------------------------------
	FOOTER
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	FOOTER: Sign-up form
-------------------------------------------------------------------*/

.page-home {

	.footer__sign-up {
		background-image: url('../_img/as_newsletter_background.png');
		background-color: $bordercolor;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		border-top: none;

		h3.footer__sign-up__head {
			font-size: 4.2rem;
			line-height: 4.4rem;
			margin: 0 0 60px 0;
		}

		.footer__sign-up__input {
			height: 85px;
		}

		a.footer__sign-up__btn:link,
		a.footer__sign-up__btn:visited {
			height: 85px;
		}

	}

}

.footer__sign-up {
	background-color: #fafafa;
	border-bottom: 1px solid $bordercolor;
	border-top: 1px solid $bordercolor;
	text-align: center;


	.footer__sign-up__input {
		height: 65px;
		margin: 0 0 15px 0;
		width: 100%;
	}

	.container--narrow {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

.footer__sign-up__form {
	@extend .cf;
	margin: 0 auto;
	width: auto;
}

.footer__sign-up__input {
	@include mnw(med) {
		float: left;
	}
}

a.footer__sign-up__btn:link,
a.footer__sign-up__btn:visited {
	height: 64px;
	line-height: 57px;
	width: 100%;

	@include mnw(med) {
		float: right;
	}
}

/*------------------------------------------------------------------
	FOOTER: Primary
-------------------------------------------------------------------*/

$outer-footer-wrapper: 1700px;
$footer-primary-left: 645px;
$footer-primary-right: 1054px;

.footer__primary {
	background-color: #FFF;
	height: auto;
	padding: 0;

	ul li {
		line-height: 26px;
		line-height: 2.6rem;
	}

	.footer__primary__section01 {
		padding: 70px 80px;
		text-align: center;
	}
	.footer__primary__section02 {
		padding: 70px 0;

		h5.module__subhead {
			@extend .verlag-bold;
			color: $red;
			font-size: 20px;
			font-size: 2.0rem;
			padding-bottom: 5px;
			text-transform: uppercase;
		}
	}

	@include respond($med) {

		.footer__primary__section01 {
			width: 100%;

			p {
				margin: 0;
			}
		}
		.footer__primary__section02 {
			border-left: 1px solid $bordercolor;
			width: 100%;

			h5.module__subhead {
				font-size: 13px;
				font-size: 1.3rem;
			}
		}
	}

	@include respond($lrg) {
		.footer__primary__section01 {
			float: left;
			margin: 0;
			width: ($footer-primary-left/$outer-footer-wrapper) * 100%;
		}
		.footer__primary__section02 {
			float: left;
			margin: 0;
			width: ($footer-primary-right/$outer-footer-wrapper) * 100%;
		}
	}
}

.footer__primary__logo {
	max-width: 95px;
	width: 100%;

	@include respond($med) {
		max-width: 170px;
	}
}

.footer__primary__contact {

	h5.footer__primary__contact__head {
		font-size: 22px;
		font-size: 2.2rem;
		line-height: 32px;
		line-height: 3.2rem;
	}

	p {
		@extend .archer-med;
		color: $primary-copy-dark;
		font-size: 19px;
		font-size: 1.9rem;
		line-height: 32px;
		line-height: 3.2rem;
		margin: 0 0 15px 0;
	}
	a:link, a:visited {
		@extend .archer-med;
		color: $primary-copy-dark;
		text-decoration: none;
	}

	@include respond($med) {
		padding-top: 40px;
		text-align: left;
	}
}

.footer__shop__nav01,
.footer__shop__nav02,
.footer__browse__nav01,
.footer__company__nav01 {

	ul > li {
		margin: 0 0 15px 0;
	}

	ul > li > a:link,
	ul > li > a:visited {
		@extend .verlag-book;
		color: $primary-headline;
		font-size: 18px;
		font-size: 1.8rem;
		letter-spacing: 0.05em;
		text-decoration: none;

		&:hover,
		&:active {
			color: $blue;
		}
	}

	@include respond($med) {

		ul > li {
			margin: 0;
		}

		ul > li > a:link,
		ul > li > a:visited {
			font-size: 14px;
			font-size: 1.4rem;
		}
	}
}

$footer-col-margin-lrg: 90px;
$footer-col-margin-med: (60px/$footer-primary-right) * 100%;

// 82 (margin), 196, 90 (margin), 62, 90 (margin), 141, 90 (margin), 186, 118 = 1055

.footer__shop__nav {
	@include respond($lrg) {
		float: left;
		margin: 0 $footer-col-margin-lrg 0 82px;
		padding: 0;
		width: (196px/$footer-primary-right) * 100%;
	}
	@include respond(1500px) {

	}
}

.footer__browse__nav {
	@include respond($lrg) {
		float: left;
		margin: 0 $footer-col-margin-lrg 0 0;
		padding: 0;
		width: (62px/$footer-primary-right) * 100%;
	}
	@include respond(1500px) {

	}
}

.footer__company__nav {
	@include respond($lrg) {
		float: left;
		margin: 0 $footer-col-margin-lrg 0 0;
		padding: 0;
		width: (141px/$footer-primary-right) * 100%;
	}
	@include respond(1500px) {

	}
}

.footer__social__nav {
	@include respond($lrg) {
		float: left;
		margin: 0 118px 0 0;
		padding: 0;
		width: (186px/$footer-primary-right) * 100%;
	}
	@include respond(1500px) {

	}
}

.footer__shop__nav {

	.col-1-2 {
		float: left;
		margin: 0;
		padding: 0;
		width: (1/2) * 100%;
	}

	.footer__shop__nav02 {
		float: right;

		ul > li > a:link,
		ul > li > a:visited {
			color: $red;

			&.utility--cart {
				span.as-icon-ui-cart {
					display: inline-block;
					margin-left: -4px;
				}
			}

			span + span {
				color: $primary-headline;
				display: inline-block;
				margin: 0 0 0 10px;
			}

			&:hover,
			&:active {
				color: $blue;

				span + span {
					color: $blue;
				}
			}
		}
	}
}

.footer__social__nav01 {
	@extend .cf;
	margin: 0 0 15px 0;
	width: 100%;

	ul {
		overflow: hidden;
		text-align: center;
	}

	ul li {
		display: inline-block;
		margin-right: 6px;
		width: 54px;

		&:last-of-type {
			margin-right: 0;
		}
	}

	ul li a:link,
	ul li a:visited {
		@include transition(all .25s);
		@include border-radius(50%);
		border: 1px solid $cart-table-exterior;
		color: $cart-table-exterior;
		display: block;
		font-size: 22px;
		font-size: 2.2rem;
		height: 54px;
		line-height: 54px;
		line-height: 5.4rem;
		text-align: center;
		text-decoration: none;
		vertical-align: middle;
		width: 54px;

		span {
			display: block;
			height: 54px;
			line-height: 54px;
			line-height: 5.4rem;
		}
		span.mls {
			display: none;
		}

		&:hover,
		&:active {
			background-color: $blue;
			border-color: $blue;
			color: #FFF;
		}
	}

	@include respond($med) {
		margin: 0;

		ul li {
			& + li {
				& + li {
					margin-right: 0;
				}
			}
		}
	}
}

a.footer__social__blog-link:link,
a.footer__social__blog-link:visited {
	@extend .verlag-book;
	display: table;
	color: $primary-headline;
	font-size: 20px;
	font-size: 2.0rem;
	height: 40px;
	margin: 15px auto 0 auto;
	text-decoration: none;

	div {
		display: table-cell;
		vertical-align: middle;
	}
	span {
		display: table-cell;
		padding: 0 0 0 15px;
		vertical-align: middle;
	}

	&:hover,
	&:active {
		color: $blue;
	}

	@include respond($med) {
		font-size: 17px;
		font-size: 1.7rem;
		margin: 15px auto 0 auto;
	}

}

/*------------------------------------------------------------------
	FOOTER: Secondary
-------------------------------------------------------------------*/

.footer__secondary {
	background-color: $red;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
}

.footer__secondary__copyright {
	color: #FFF;
	margin: 0 auto;
	text-align: center;
	width: auto;
}