/*------------------------------------------------------------------
	HEADER
-------------------------------------------------------------------*/

#main {
	padding-top: 55px;

	@include respond($header-nav-break) {
		margin-top: 212px;
		padding-top: 0;
	}
}

#header {
	background-color: #FFF;
	height: $header-height-lrg;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: $z-header;

	.container--full {
		@extend .cf;
		height: $header-height-lrg;
		padding-top: 0;
		padding-bottom: 0;
	}

	/*------------------------------------------------------------------
		HEADER / Logo
	-------------------------------------------------------------------*/

	.header__primary-logo {
		float: left;

		a:link,
		a:visited {
			display: inline-block;
		}

		.primary-logo__lrg {
			margin: 22px 0 0 0;
			max-width: 125px;
			width: 100%;
		}

		.primary-logo__sm {
			display: none;
			margin: 17px 0 0 0;
			max-width: 165px;
		}

		@include respond(1250px) {
			.primary-logo__lrg {
				margin: 6px 0 0 0;
				max-width: 155px;
			}
		}

		@include respond($header-nav-break) {
			width: 14%;
		}
	}

	/*------------------------------------------------------------------
		HEADER / Mobile
	-------------------------------------------------------------------*/

	#mm-header__primary-nav,
	.primary-nav__btn {
		display: block;
	}

	.header__primary-nav {
		display: none;
	}

	nav.mm-opened + #wrapper > #header a.primary-nav__btn:link,
	nav.mm-opened + #wrapper > #header a.primary-nav__btn:visited {
		background-color: $blue;
	}

	a.primary-nav__btn:link,
	a.primary-nav__btn:visited {
		@include transition(all .35s);
		@extend .verlag-bold;
		background-color: $red;
		border: none;
		color: #FFF;
		display: block;
		float: right;
		height: 45px;
		line-height: 45px;
		line-height: 4.5rem;
		margin: 5px 0 5px 5px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		vertical-align: middle;
		width: 60px;

		&:hover {
			cursor: pointer;
		}

		&.active {
			background-color: $blue;
		}

		@include respond($header-nav-break, "min") {
			display: none;
		}
	}

	/*------------------------------------------------------------------
		HEADER / Desktop, fully expanded
	-------------------------------------------------------------------*/

	@include respond($header-nav-break) {
		position: absolute;

		#mm-header__primary-nav,
		.primary-nav__btn {
			display: none;
		}

		.header__primary-nav {
			display: block;
		}
	}
}

/*------------------------------------------------------------------
	NAVIGATION
-------------------------------------------------------------------*/

.header__primary-nav {

	ul > li > a:link,
	ul > li > a:visited {
		display: block;
		padding: 8px 3%;
		text-decoration: none;
		text-transform: uppercase;
	}

	ul > li > ul {
		width: 100%;

		& > li {
			display: block;
			margin: 0;
			padding: 0;
			width: 100%;
		}
	}

	/*------------------------------------------------------------------
		NAVIGATION / Desktop, fully expanded
	-------------------------------------------------------------------*/

	@include respond($header-nav-break) {
		background-color: #FFF;
		float: left;
		padding-top: $header-height-sm;
		width: 86%;

		ul > li {
			display: inline-block;
			padding-bottom: 10px;
			position: relative;
		}

		ul > li.parentmenu__item > a:link,
		ul > li.parentmenu__item > a:visited {

			&:after {
				@include rotate(90deg);
				content: ">";
				display: inline-block;
				color: rgba(0,0,0,.3);
				margin: 0 0 0 6px;
				position: relative;
			}

			&:hover,
			&:active {
				&:after {
					color: $blue;
				}
			}
		}

		ul > li > a:link,
		ul > li > a:visited {
			padding: 0;
		}

		/*------------------------------------------------------------------
			NAVIGATION / Desktop, drop-down menus
		-------------------------------------------------------------------*/

		ul > li:hover {
			ul {
				@include opacity(1);
				visibility: visible;
			}
		}

		ul > li > ul {
			@include transition(opacity .35s);
			@include box-shadow(rgba(0,0,0,.12) 0px 2px 6px);
			@include opacity(0);
			background-color: #FFF;
			left: -15px;
			position: absolute;
			top: 45px;
			width: 340px;
			visibility: hidden;
			z-index: $z-drop-down-nav;

			& > li {
				width: auto;
			}

			& > li > a:link,
			& > li > a:visited {
				font-size: 14px;
				font-size: 1.4rem;
				line-height: 20px;
				line-height: 2.0rem;
				margin: 0;
				padding: 15px 0 15px 30px;

				&:hover,
				&:active {
					background-color: rgba(0,0,0,.05);
				}
			}
		}
	}

	@include respond($header-nav-break) {
		padding-right: 15px;
		padding-left: 1%;
	}
	@include respond(1450px, "min") {
		padding-left: 3%;
	}
	@include respond(1550px, "min") {
		padding-left: 6%;
	}
	@include respond(1650px, "min") {
		padding-left: 7%;
	}
	@include respond(1750px, "min") {
		padding-left: 8%;
	}
}

/*------------------------------------------------------------------
	NAVIGATION / Primary menu
-------------------------------------------------------------------*/

.primary-nav {
	width: 100%;

	li.label {
		display: none;
	}

	li.label > a:link,
	li.label > a:visited {
		@extend .archer-bold-ital;
		color: $red;

		span {
			@include rotate(0deg);
		}
	}

	a:link,
	a:visited {
		@extend .verlag-book;
		color: $primary-copy;
	    color: #AAA;
		display: block;
		font-size: 15px;
	    font-size: 1.5rem;
		letter-spacing: 0.10em;
		width: 100%;

		&:hover,
		&:active {
			color: $blue;
		}
	}

	/*------------------------------------------------------------------
		NAVIGATION / Utility menu
	-------------------------------------------------------------------*/

	li.primary-nav__utility {

		& > a:link,
		& > a:visited {
			color: $red;
			display: block;
			letter-spacing: 0;

			&:hover,
			&:active  {
				color: $blue;
			}
		}

		.utility--search,
		.utility--account,
		.utility--cart {

			span:first-of-type {
				display: inline-block;
				min-width: 17px;
			}

			&:after {
				@include transition(opacity $header-transition-speed);
				@include opacity(1);
				@extend .verlag-bold;
				height: 10px;
				line-height: 0px;
				line-height: 0rem;
				margin: 0 auto;
				margin-left: 5px;
			}

			@include mnw($med) {
				&:after {
					display: block;
				}
			}
		}

		.utility--search {
			&:after {
				content: "Search";
			}
		}
		.utility--account {
			&:after {
				content: "Account";
			}
		}
		.utility--cart {
			&:after {
				content: "Cart";
			}
		}

		@include respond($header-nav-break, "min") {
			float: right;
			margin: 0 0 0 -10px;

			a:link,
			a:visited {
				font-size: 20px;
				font-size: 2.0rem;
				min-width: 38px;
				text-align: center;
			}

			.utility--search,
			.utility--account,
			.utility--cart {
				text-align: center;

				&:after {
					font-size: 8px;
					font-size: 0.8rem;
					margin-right: 0;
				}
			}
		}
		@include respond(1100px) {
			a:link,
			a:visited {
				min-width: 48px;
			}
		}
	}

	@include respond($header-nav-break) {
		float: left;
		height: 55px;
		margin-top: 12px;

		li {
			padding: 10px 0 0 0;
		}
		li.primary-nav__utility {
			padding-top: 0;
		}

		li.nav-divider {
			margin-left: 20px;
			padding-left: 12px;

			&:before {
				background-color: $bordercolor;
				content: "";
				display: block;
				height: 30px;
				left: 0;
				position: absolute;
				top: 7px;
				width: 1px;
			}

			ul {
				left: -5px;
			}
		}

		li.label > a:link,
		li.label > a:visited {
			span {
				margin: 0 0 0 10px;
			}
		}

		li > a:link,
		li > a:visited {
			margin: 0 0 0 15px;
		}
		li:nth-child(2) {
			& > a:link,
			& > a:visited {
				margin-left: 0;
			}
		}
	}

	@include respond(1250px, "min") {

		li.label {
			display: inline-block;

			a:link,
			a:visited {
				font-size: 19px;
				font-size: 1.9rem;
				position: relative;
				width: 81px;

				&:after {
					color: $red;
					content: ":";
					display: inline-block;
					position: absolute;
					right: 6px;
					top: -2px;
				}
			}
		}

		li > a:link,
		li > a:visited {
			font-size: 16px;
			font-size: 1.6rem;
		}
	}

	@include respond(1350px, "min") {
		li > a:link,
		li > a:visited {
			font-size: 17px;
			font-size: 1.7rem;
		}
	}
}

/*------------------------------------------------------------------
	NAVIGATION / Mobile
-------------------------------------------------------------------*/

#mm-header__primary-nav {

	$nav-bg-color: #d1d3d4;
	$tab-bg-color: #f2f2f3;
	$tab-border-color: $bordercolor;
	$tab-link-color: $red;
	$tab-arrow-color: $primary-copy;

	background-color: $nav-bg-color;

	a:link,
	a:visited {
		@extend .verlag-book;
		color: $primary-copy;
		display: block;
		font-size: 14px;
		font-size: 1.4rem;
		letter-spacing: 0.06em;
		padding-left: 20px;
		width: 100%;

		&:hover,
		&:active {
			color: $blue;
		}
	}

	ul > li {
		margin-bottom: 1px;
		background-color: $tab-bg-color;
	}

	ul > li > a:link,
	ul > li > a:visited {
		color: $tab-link-color;
		padding: 12px 3% 8px 20px;
	}

	ul.primary-nav {

		&.mm-list {
			margin-top: 35px;
		}

		& > li > a:link,
		& > li > a:visited {
		}

	}

	ul.mm-list {
		margin-top: 55px;

		& > li > a.mm-subopen:before {
			display: none;
		}
		& > li > a.mm-subopen:after {
			border-color: $tab-arrow-color;
		}

		a.mm-subclose {
			color: $primary-copy;
		}
		a.mm-subclose:before {
			border-color: $primary-copy;
			margin-bottom: -4px;
		}

		li.mm-subtitle {
			background-color: rgba(0,0,0,.05);

			a.mm-subclose {
				background-color: transparent;
			}
		}

		li:not(.mm-subtitle):not(.mm-label):not(.mm-noresults):after {
			display: none;
		}
	}

	li.mm-label {
		display: none;
	}
	li.primary-nav__utility__search {
		display: none;
	}

}

/*------------------------------------------------------------------
	NAVIGATION / Explore menu
-------------------------------------------------------------------*/

li.primary-nav__explore {

	& > a:link,
	& > a:visited {
		@extend .verlag-bold;
		color: $primary-copy;
		margin: 0 8px;
	}

	@include respond($xlrg) {
		& > a:link,
		& > a:visited {
			margin: 0 12px;
		}
	}
}

/*------------------------------------------------------------------
	HEADER / Desktop, fixed scrolling
-------------------------------------------------------------------*/

#header {
	@include transition(top .3s);
}

#header.header-collapsed {
	@include box-shadow(rgba(0,0,0,.1) 0px 2px 6px);
	height: $header-height-sm;
	min-height: 0px;
	top: -$header-height-sm;
	position: fixed;
	visibility: hidden;

	.container--full {
		height: $header-height-sm;
	}

	&.header-collapsed-visible {
		top: 0;
		visibility: visible;
	}

	.header__primary-logo {
		// new width?

		.primary-logo__lrg {
			display: none;
		}
		.primary-logo__sm {
			display: block;
		}

		@include respond($header-nav-break) {
			width: 19%;
		}
		@include respond(1100px) {
			width: 18%;
		}
	}

	.header__primary-nav {
		// new width?

		ul > li > ul {
			top: 54px;
		}

		@include respond($header-nav-break) {
			padding-top: 0;
			width: 81%;
		}
		@include respond(1100px) {
			width: 82%;
		}
	}

	.primary-nav {
		margin-top: 0;

		& > li {
			padding: 15px 0 12px 0;
		}
		li.nav-divider {
			&:before {
				left: -7px;
				top: 10px;
			}
			ul {
				left: -15px;
			}
		}
		& > li.primary-nav__utility {

			a:link,
			a:visited {
				min-width: 30px;
			}

			.utility--search,
			.utility--account,
			.utility--cart {
				&:after {
					display: none;
				}
			}
		}
	}

	a.shipping-banner--link:link,
	a.shipping-banner--link:visited {
		display: none;
	}

}

/*------------------------------------------------------------------
	HEADER / SEARCH MENU
-------------------------------------------------------------------*/

a.header__search-btn:link,
a.header__search-btn:visited {
	&.search-open,
	&.search-open span,
	&.search-open:after {
		color: $blue;
	}
}

.header__search {
	@include transition(height .5s ease);
	background-color: $lightgrey1;
	display: block;
	height: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: $search-form;

	.container--wide {
		padding-top: 45px;
		padding-bottom: 0;
	}

	&.expanded {
		height: 150px;
	}

	.col-3-4 {
		@include respond($med) {
			width: calc(((100% - 20px) / 4) * 3);
		}
	}
	.col-1-4 {
		@include respond($med) {
			width: calc(((100% - 20px) / 4));
		}
	}

	.header__search__input {
		border: none;
		height: 60px;
	}

}

// Mobile search layout

.mobile-menu {
	.header__search {
		z-index: $search-form-mobile;

		&.expanded {
			height: 230px;
		}
	}
}
