/*------------------------------------------------------------------
    MODULE: Full width 1/3 photo grid
-------------------------------------------------------------------*/

.container--full.photo-grid {
	@extend .cf;
	padding: 0;

	figure {
		width: 100%;

		img {
			width: 100%;
		}
	}

	.tablet-img,
	.desktop-img {
		display: none;
	}

	@include respond($med) {

		.tablet-img {
			display: block;
		}

		figure {
			float: left;
			width: (1/2 * 100%);
		}

	}
	@include respond(1025px) {

		.desktop-img {
			display: block;
		}

		figure {
			width: (1/3 * 100%);
		}
	}

	&.photo-grid--4 {

		@include respond(1025px) {
			figure {
				width: (1/4 * 100%);
			}
		}
	}
}