/*------------------------------------------------------------------
    MODULE: Products grid
-------------------------------------------------------------------*/

%product-grid {

	ul {
		@extend .cf;
		padding-bottom: 25px;
	}

	ul > li {
		border-bottom: 1px solid #dddddd;
		margin-bottom: 15px;
		margin-top: 0;
		padding: 0;
		text-align: center;

		&:first-child {
			a.product-grid__link:link,
			a.product-grid__link:visited {
				padding-top: 0;
			}
		}

		// 2 column grid
		@include respond($med) {
			float: left;
			margin-right: 20px;
			width: calc((100% - 20px) / 2);

			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		// 3 column grid
		@include respond(790px) {
			width: calc((100% - 40px) / 3);

			&:nth-child(2n) {
				margin-right: 20px;
			}
			&:nth-child(3n) {
				margin-right: 0;
			}
		}

		// 4 column grid
		@include respond($lrg) {
			width: calc((100% - 60px) / 4);

			&:nth-child(2n),
			&:nth-child(3n) {
				margin-right: 20px;
			}
			&:nth-child(4n) {
				margin-right: 0;
			}
		}
	}

	a.product-grid__link:link,
	a.product-grid__link:visited {
		@extend .cf;
		color: $primary-copy;
		display: block;
		margin: 0 auto;
		padding: 25px 0;
		position: relative;
		text-align: center;
		text-decoration: none;
		width: 100%;
	}

	.product__img,
	.product__name,
	.product__price {
		display: block;
		margin: 0 auto;
	}

	.product__view-product,
	.product__add-to-cart {
		@include border-radius(3px);
		@extend .verlag-black;
		display: inline-block;
		font-size: 14px;
		font-size: 1.4rem;
		letter-spacing: 0.05em;
		margin: 0 0 15px 0;
		min-width: 130px;
		padding: 12px;
		text-align: center;
		text-transform: uppercase;
		vertical-align: middle;
		width: auto;
	}

	.product__view-product {
		@include transition(all .35s);
		background-color: $red;
		margin-right: 15px;
		color: #FFF;
	}

	.product__add-to-cart {
		background: #FFF;
		border: 1px solid $red;
		height: 45px;
	}

	.product__img {
		@include opacity(1);
		@include transition(all .25s);
		margin-bottom: 25px;
		max-width: 50%;
	}

	.product__name {
		@extend .verlag-bold;
		color: $lightgrey;
		font-size: 16.5px;
		font-size: 1.65rem;
		letter-spacing: .5px;
		line-height: 22px;
		line-height: 2.2rem;
		margin-bottom: 5px;
		padding-top: 18px;
		text-transform: uppercase;
	}

	.product__price {
		@extend .archer-med;
		color: $lightgrey;
		font-size: 21.5px;
		font-size: 2.15rem;
		margin-bottom: 30px;
	}

	@include respond($med) {

		ul {
			padding-bottom: 0;
		}

		ul > li {
			border-bottom: none;
			margin-top: 30px;
			margin-bottom: 15px;

			&:first-child {
				a.product-grid__link:link,
				a.product-grid__link:visited {
					padding-top: 15px;
				}
			}
		}

		a.product-grid__link:link,
		a.product-grid__link:visited {
			padding: 15px 25px;
		}

		.product__view-product {
			@include opacity(0);
			background-color: transparent;
			color: $red;
			display: inline-block;
			float: none;
			font-size: 22px;
			font-size: 2.2rem;
			left: 50%;
			margin-bottom: 15px;
			margin-left: -(225px/2);
			margin-top: -(52px/2);
			min-width: 0;
			position: absolute;
			top: 10%;
			width: 225px;
			z-index: 1;
		}

		.product__add-to-cart {
			@include transition(opacity .6s);
			@include opacity(0);
			bottom: 0;
			display: block;
			float: none;
			height: 52px;
			left: 50%;
			margin-bottom: 35px;
			margin-left: -(180px/2);
			min-width: 180px;
			position: absolute;
			z-index: 2;

			&:hover {
				background-color: $blue;
				border-color: $blue;
				color: #FFF !important;

				span {
					color: #FFF !important;
				}
			}
		}

		.product__img {
			max-width: 100%;
		}
		.product__name {
			@include opacity(1);
			@include transition(opacity .5s);
			border-top: 1px solid $bordercolor;
			font-size: 13px;
			font-size: 1.3rem;
			line-height: 22px;
			line-height: 2.2rem;
			margin: 0 0 -2px;
		}
		.product__price {
			@include opacity(1);
			@include transition(opacity .5s);
			font-size: 16.5px;
			font-size: 1.65rem;
			margin-bottom: 0;
		}

		a.product-grid__link:hover,
		a.product-grid__link:active {
			@include box-shadow(rgba(0,0,0,.15) 0px 0px 6px);
			border-top: 5px solid $red;
			margin-top: -5px;

			img {
				@include opacity(.24);
			}
			span {
				color: $red;
			}

			span.product__view-product {
				@include opacity(1);
				top: 43%;
			}
			.product__name,
			.product__price {
				@include opacity(0);
			}
			.featured-product__product-name,
			.product__add-to-cart {
				@include opacity(1);
			}
		}

		// 2 column grid
		@include respond($med) {
			ul > li {
				&:nth-child(1),
				&:nth-child(2) {
					margin-top: 0;
				}
			}
		}

		// 3 column grid
		@include respond(790px) {
			ul > li {
				&:nth-child(3) {
					margin-top: 0;
				}
			}
		}

		// 4 column grid
		@include respond($lrg) {
			ul > li {
				&:nth-child(4) {
					margin-top: 0;
				}
			}
		}
	}
}