/*------------------------------------------------------------------
    MODULE: Recipes grid
-------------------------------------------------------------------*/

.recipes-jump__grid {
	@extend .cf;
	margin: 60px 0 0 0;

	.recipes-grid__row {
		@extend .cf;
	}

	.recipes-grid__item {
		position: relative;
		margin-bottom: 20px;
		overflow: hidden;
	}

	.recipes-grid__1-3--left,
	.recipes-grid__2-3--right,
	.recipes-grid__2-3--left,
	.recipes-grid__1-3--right,
	.recipes-grid__full {
		@extend .recipes-grid__item;
	}

	figure {

		a:link,
		a:visited {
			display: block;
			position: relative;
			text-decoration: none;

			figcaption {
				@include transition(all .35s);
				@include opacity(0);
				border: 1px solid $bordercolor;
				display: block;
				height: 100%;
				padding: 0;
				position: absolute;
				width: 100%;
				visibility: hidden;

				h4 {
					@extend .verlag-black;
					@include transition(all .5s);
					@include opacity(0);
					background-color: rgba(255,255,255,.85);
					color: $pumpkin;
					display: table;
					font-size: 19px;
					font-size: 1.9rem;
					height: 100%;
					line-height: 24px;
					line-height: 2.4rem;
					padding: 0 45px;
					position: absolute;
					text-align: center;
					text-transform: uppercase;
					width: 100%;

					span {
						display: table-cell;
						vertical-align: middle;
					}
				}
			}
		}

		img {
			width: 100%;
		}

		&:hover {

			a:link, a:visited {
				figcaption {
					@include opacity(1);
					top: 0;
					visibility: visible;

					h4 {
						@include opacity(1);
					}
				}
			}

		}
	}

	@include respond($med) {

		.recipes-grid__item {
			float: left;
		}

		.recipes-grid__1-3 {
			width: ((1/3) * 100%);
		}
		.recipes-grid__2-3 {
			width: ((2/3) * 100%);
		}

		.recipes-grid__1-3--left,
		.recipes-grid__1-3--right {
			@extend .recipes-grid__1-3;
		}
		.recipes-grid__2-3--right {
			@extend .recipes-grid__2-3;
			padding-left: 20px;
		}
		.recipes-grid__2-3--left {
			@extend .recipes-grid__2-3;
			padding-right: 20px;
		}

		figure {
			a:link,
			a:visited {
				figcaption {
					padding: 0;
				}
			}
		}
	}

	@include respond($xlrg) {

		.recipes-grid__item {
			height: 499px;
		}
		.recipes-grid__full {
			height: auto;
		}
	}
}