.secondary-nav {
	text-align: center;
	width: 100%;

	h4 {
		@extend .verlag-bold;
		@include border-radius(3px);
		background-color: $blue;
		color: #FFF;
		display: block;
		font-size: 16px;
		padding: 12px 0;
		text-align: center;
		text-transform: uppercase;
	}

	ul {
		@extend .cf;
		background-color: rgba(0,0,0,.1);
		padding: 6px 0;
		text-align: left;
	}

	ul li a:link,
	ul li a:visited {
		@extend .archer-book;
		@include border-radius(2px);
		color: $primary-copy;
		display: block;
		font-size: 16px;
		font-size: 1.6rem;
		margin: 4px;
		padding: 6px 12px;
		text-decoration: none;

		&:hover,
		&:active,
		&.active {
			color: $blue;
		}
	}

	@include respond($med, "min") {

		h4 {
			display: none;
		}

		ul {
			background-color: transparent;
			border: 1px solid rgba(0,0,0,.15);
			display: inline-block;
			margin: 0 auto 45px auto;
			min-width: 1px;
			padding: 12px 20px;
			text-align: center;
			width: auto;
		}

		ul li {
			display: inline-block;
		}

		ul li a:link,
		ul li a:visited {
			background: transparent;
			color: $secondary-nav;
			margin: 0 20px;
			padding: 0;
		}

	}

}

.pagination {
	height: 95px;
	width: 100%;

	ul {
		@extend .cf;
		border-bottom: 1px solid rgba(0,0,0,.15);
		border-top: 1px solid rgba(0,0,0,.15);
		height: 95px;
		width: 100%;
	}

	ul li {
		display: block;
		float: left;
		margin: 0;
		padding: 0;
		width: 50%;
	}

	ul li a:link,
	ul li a:visited {
		display: block;
		height: 93px;
		line-height: 95px;
		padding: 0;
		text-align: center;
		width: 100%;
	}

	ul li a.pagination__prev:link,
	ul li a.pagination__prev:visited {
		border-right: 1px solid rgba(0,0,0,.15);

		&:before {
			display: inline-block;
			content: "<";
			margin: 0 15px 0 0;
		}
	}

	ul li a.pagination__next:link,
	ul li a.pagination__next:visited {
		&:after {
			display: inline-block;
			content: ">";
			margin: 0 0 0 15px;
		}
	}

}