.secondary-nav {
	text-align: center;
	margin: 0 auto;
	width: 100%;

	h4 {
		@extend .verlag-bold;
		@include border-radius(3px);
		background-color: $blue;
		color: #FFF;
		display: block;
		font-size: 16px;
		padding: 12px 0;
		text-align: center;
		text-transform: uppercase;
	}

	ul {
		@extend .cf;
		background-color: rgba(0,0,0,.1);
		padding: 6px 0;
		text-align: left;
	}

	ul li a:link,
	ul li a:visited {
		@extend .verlag-book;
		@include border-radius(2px);
		color: $primary-copy;
		display: block;
		font-size: 16px;
		font-size: 1.6rem;
		margin: 4px;
		padding: 6px 12px;
		text-decoration: none;

		&:hover,
		&:active,
		&.active {
			color: $blue;
		}
	}

	@include respond($med) {
		h4 {
			display: none;
		}

		ul {
			background-color: transparent;
			border: 1px solid $bordercolor;
			display: inline-block;
			margin: 0 auto;
			min-width: 1px;
			padding: 12px 20px;
			text-align: center;
			width: auto;
		}

		ul li {
			display: inline-block;
		}

		ul li a:link,
		ul li a:visited {
			background: transparent;
			color: $secondary-nav;
			letter-spacing: 0.02em;
			margin: 0 8px;
			padding: 0;
		}
	}
	@include respond($lrg) {
		max-width: 80%;
	}
	@include respond(1115px) {
		max-width: 70%;
	}
	@include respond($xlrg) {
		max-width: 100%;
	}
}

.pagination {

	.container--wide {
		padding-top: 0;
	}

	nav {
		@extend .cf;
		height: 95px;
		width: 100%;

		ul {
			@extend .cf;
			border-bottom: 1px solid $bordercolor;
			border-top: 1px solid $bordercolor;
			height: 95px;
			width: 100%;
		}

		ul li {
			display: block;
			margin: 0;
			padding: 0;
		}

		ul li a:link,
		ul li a:visited {
			display: block;
			height: 48px;
			font-size: 16px;
			font-size: 1.6rem;
			line-height: 50px;
			padding: 0;
			text-align: center;
			width: 100%;
		}

		ul li a.pagination__prev:link,
		ul li a.pagination__prev:visited {
			&:before {
				display: inline-block;
				content: "<";
				margin: 0 15px 0 0;
			}
		}

		ul li a.pagination__next:link,
		ul li a.pagination__next:visited {
			&:after {
				display: inline-block;
				content: ">";
				margin: 0 0 0 15px;
			}
		}

		@include respond($med) {

			ul li {
				float: left;
				width: 50%;
			}

			ul li a:link,
			ul li a:visited {
				height: 93px;
				font-size: 16px;
				font-size: 1.6rem;
				letter-spacing: 1px;
				line-height: 95px;
				line-height: 9.5rem;
			}

			ul li a.pagination__prev:link,
			ul li a.pagination__prev:visited {
				border-right: 1px solid $bordercolor;
			}
		}
	}
}