
.secondary-nav {
	text-align: center;
	width: 100%;

	ul {
		@extend .cf;
		border: 1px solid rgba(0,0,0,.15);
		margin: 0 auto 60px auto;
		padding: 12px 20px;
		text-align: center;

		display: inline-block;
		min-width: 1px;
		width: auto;
	}

	ul li {
		display: inline-block;
	}

	ul li a:link,
	ul li a:visited {
		@extend .archer-book;
		color: $secondary-nav;
		display: inline-block;
		font-size: 16px;
		font-size: 1.6rem;
		margin: 0 20px;
		text-decoration: none;

		&:hover,
		&:active,
		&.active {
			color: $blue;
		}
	}
}

.pagination {
	height: 95px;
	width: 100%;

	ul {
		@extend .cf;
		border-bottom: 1px solid rgba(0,0,0,.15);
		border-top: 1px solid rgba(0,0,0,.15);
		height: 95px;
		width: 100%;
	}

	ul li {
		display: block;
		float: left;
		margin: 0;
		padding: 0;
		width: 50%;
	}

	ul li a:link,
	ul li a:visited {
		display: block;
		height: 93px;
		line-height: 95px;
		padding: 0;
		text-align: center;
		width: 100%;
	}

	ul li a.pagination__prev:link,
	ul li a.pagination__prev:visited {
		border-right: 1px solid rgba(0,0,0,.15);

		&:before {
			display: inline-block;
			content: "<";
			margin: 0 15px 0 0;
		}
	}

	ul li a.pagination__next:link,
	ul li a.pagination__next:visited {
		&:after {
			display: inline-block;
			content: ">";
			margin: 0 0 0 15px;
		}
	}

}