/*------------------------------------------------------------------
    IMPORTS
-------------------------------------------------------------------*/
/* line 5, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*------------------------------------------------------------------
    GLOBAL
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
    Z-INDEX
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
    COLORS
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
    MEDIA QUERIES
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
    MEDIA QUERIES: Min/max width "respond"
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
    ELEMENT STYLES
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
    GLOBAL
-------------------------------------------------------------------*/
/* line 5, ../_sass/_global/_global.scss */
a:link, a:visited {
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

/* line 9, ../_sass/_global/_global.scss */
a:hover, a:active {
  text-decoration: none;
}

/*------------------------------------------------------------------
    UTILITY
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
    UTILITY: Misc
-------------------------------------------------------------------*/
/* line 9, ../_sass/_global/_utility.scss */
.cf, .wrapper, .row, .footer__sign-up__form, .product-grid ul, .featured-products__grid ul, .related-products ul, .featured-products__header {
  zoom: 1;
}
/* line 12, ../_sass/_global/_utility.scss */
.cf:before, .wrapper:before, .row:before, .footer__sign-up__form:before, .product-grid ul:before, .featured-products__grid ul:before, .related-products ul:before, .featured-products__header:before, .cf:after, .wrapper:after, .row:after, .footer__sign-up__form:after, .product-grid ul:after, .featured-products__grid ul:after, .related-products ul:after, .featured-products__header:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 19, ../_sass/_global/_utility.scss */
.cf:after, .wrapper:after, .row:after, .footer__sign-up__form:after, .product-grid ul:after, .featured-products__grid ul:after, .related-products ul:after, .featured-products__header:after {
  clear: both;
}

/* line 24, ../_sass/_global/_utility.scss */
.ir, .mls {
  background-color: transparent;
  border: 0;
  font-size: 0px;
  overflow: hidden;
  text-indent: -9999px;
  text-indent: 100%;
  white-space: nowrap;
}

/*------------------------------------------------------------------
	ICOMOON ICON FONTS
-------------------------------------------------------------------*/
@font-face {
  font-family: 'as-ui';
  src: url("../_fonts/as-ui.eot?-undrr5");
  src: url("../_fonts/as-ui.eot?#iefix-undrr5") format("embedded-opentype"), url("../_fonts/as-ui.woff?-undrr5") format("woff"), url("../_fonts/as-ui.ttf?-undrr5") format("truetype"), url("../_fontsfonts/as-ui.svg?-undrr5#as-ui") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 16, ../_sass/_global/_type.scss */
[class^="as-icon-"], [class*=" as-icon-"] {
  font-family: 'as-ui';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 30, ../_sass/_global/_type.scss */
.as-icon-ui-search:before {
  content: "\30";
}

/* line 33, ../_sass/_global/_type.scss */
.as-icon-ui-cart:before {
  content: "\31";
}

/* line 36, ../_sass/_global/_type.scss */
.as-icon-ui-account:before {
  content: "\32";
}

/* line 39, ../_sass/_global/_type.scss */
.as-icon-instagram:before {
  content: "\34";
}

/* line 42, ../_sass/_global/_type.scss */
.as-icon-facebook:before {
  content: "\35";
}

/* line 45, ../_sass/_global/_type.scss */
.as-icon-pinterest:before {
  content: "\33";
}

/* line 48, ../_sass/_global/_type.scss */
.as-icon-shipping:before {
  content: "\36";
}

/* line 51, ../_sass/_global/_type.scss */
.as-icon-circle:before {
  content: "\37";
}

/* line 54, ../_sass/_global/_type.scss */
.as-icon-schedule:before {
  content: "\38";
}

/* line 57, ../_sass/_global/_type.scss */
.as-icon-location:before {
  content: "\39";
}

/* line 60, ../_sass/_global/_type.scss */
.as-icon-call:before {
  content: "\41";
}

/* line 63, ../_sass/_global/_type.scss */
.as-icon-write:before {
  content: "\42";
}

/* line 66, ../_sass/_global/_type.scss */
.as-icon-web:before {
  content: "\43";
}

/* line 69, ../_sass/_global/_type.scss */
.as-icon-twitter:before {
  content: "\44";
}

/*------------------------------------------------------------------
	@FONT FACE DECLARATIONS
-------------------------------------------------------------------*/
@font-face {
  font-family: 'VerlagBook';
  src: url("../_fonts/verlag-book.eot");
  src: url("../_fonts/verlag-book.eot") format("embedded-opentype"), url("../_fonts/verlag-book.woff") format("woff"), url("../_fonts/verlag-book.ttf") format("truetype"), url("../_fonts/verlag-book.svg#VerlagBook") format("svg");
}
@font-face {
  font-family: 'VerlagLightItalic';
  src: url("../_fonts/verlag-lightitalic.eot");
  src: url("../_fonts/verlag-lightitalic.eot") format("embedded-opentype"), url("../_fonts/verlag-lightitalic.woff") format("woff"), url("../_fonts/verlag-lightitalic.ttf") format("truetype"), url("../_fonts/verlag-lightitalic.svg#VerlagLightItalic") format("svg");
}
@font-face {
  font-family: 'VerlagBold';
  src: url("../_fonts/verlag-bold.eot");
  src: url("../_fonts/verlag-bold.eot") format("embedded-opentype"), url("../_fonts/verlag-bold.woff") format("woff"), url("../_fonts/verlag-bold.ttf") format("truetype"), url("../_fonts/verlag-bold.svg#VerlagBold") format("svg");
}
@font-face {
  font-family: 'VerlagBlack';
  src: url("../_fonts/verlag-black.eot");
  src: url("../_fonts/verlag-black.eot") format("embedded-opentype"), url("../_fonts/verlag-black.woff") format("woff"), url("../_fonts/verlag-black.ttf") format("truetype"), url("../_fonts/verlag-black.svg#VerlagBlack") format("svg");
}
@font-face {
  font-family: 'ArcherLightItalic';
  src: url("../_fonts/archer-lightital-pro.eot");
  src: url("../_fonts/archer-lightital-pro.eot") format("embedded-opentype"), url("../_fonts/archer-lightital-pro.woff") format("woff"), url("../_fonts/archer-lightital-pro.ttf") format("truetype"), url("../_fonts/archer-lightital-pro.svg#ArcherLightItalic") format("svg");
}
@font-face {
  font-family: 'ArcherBook';
  src: url("../_fonts/archer-book-pro.eot");
  src: url("../_fonts/archer-book-pro.eot") format("embedded-opentype"), url("../_fonts/archer-book-pro.woff") format("woff"), url("../_fonts/archer-book-pro.ttf") format("truetype"), url("../_fonts/archer-book-pro.svg#ArcherBook") format("svg");
}
@font-face {
  font-family: 'ArcherMedium';
  src: url("../_fonts/archer-medium-pro.eot");
  src: url("../_fonts/archer-medium-pro.eot") format("embedded-opentype"), url("../_fonts/archer-medium-pro.woff") format("woff"), url("../_fonts/archer-medium-pro.ttf") format("truetype"), url("../_fonts/archer-medium-pro.svg#ArcherMedium") format("svg");
}
@font-face {
  font-family: 'ArcherMediumItalic';
  src: url("../_fonts/archer-mediumital-pro.eot");
  src: url("../_fonts/archer-mediumital-pro.eot") format("embedded-opentype"), url("../_fonts/archer-mediumital-pro.woff") format("woff"), url("../_fonts/archer-mediumital-pro.ttf") format("truetype"), url("../_fonts/archer-mediumital-pro.svg#ArcherMediumItalic") format("svg");
}
@font-face {
  font-family: 'ArcherBold';
  src: url("../_fonts/archer-bold-pro.eot");
  src: url("../_fonts/archer-bold-pro.eot") format("embedded-opentype"), url("../_fonts/archer-bold-pro.woff") format("woff"), url("../_fonts/archer-bold-pro.ttf") format("truetype"), url("../_fonts/archer-bold-pro.svg#ArcherBold") format("svg");
}
@font-face {
  font-family: 'ArcherBoldItalic';
  src: url("../_fonts/archer-boldital-pro.eot");
  src: url("../_fonts/archer-boldital-pro.eot") format("embedded-opentype"), url("../_fonts/archer-boldital-pro.woff") format("woff"), url("../_fonts/archer-boldital-pro.ttf") format("truetype"), url("../_fonts/archer-boldital-pro.svg#ArcherBoldItalic") format("svg");
}
/* line 171, ../_sass/_global/_type.scss */
.archer-light-ital {
  font-family: "ArcherLightItalic", serif;
  font-weight: normal;
}

/* line 176, ../_sass/_global/_type.scss */
.archer-med, .form__input__text, .footer__primary__contact p, .footer__primary__contact a:link, .footer__primary__contact a:visited, .product-grid .featured-product__price, .featured-products__grid .featured-product__price, .related-products .featured-product__price {
  font-family: "ArcherMedium", serif;
  font-weight: normal;
}

/* line 181, ../_sass/_global/_type.scss */
.archer-med-ital, h1.section__headline, h1.featured-products__headline, h3.footer__sign-up__head, .featured-recipes__header h1 {
  font-family: "ArcherMediumItalic", serif;
  font-weight: normal;
}

/* line 186, ../_sass/_global/_type.scss */
.archer-bold-ital, h5.footer__primary__contact__head, .shipping-banner p.shipping-banner__msg01, .shipping-banner p.shipping-banner__msg03 {
  font-family: "ArcherBoldItalic", serif;
  font-weight: normal;
}

/* line 191, ../_sass/_global/_type.scss */
.archer-bold, h1, h2, h3, h4, h5, h6, .shipping-banner .divider, .shipping-banner p.shipping-banner__msg02 {
  font-family: "ArcherBold", serif;
  font-weight: normal;
}

/* line 196, ../_sass/_global/_type.scss */
.archer-book, p, .footer__secondary__nav ul > li > a:link, .footer__secondary__nav ul > li > a:visited {
  font-family: "ArcherBook", serif;
  font-weight: normal;
}

/* line 201, ../_sass/_global/_type.scss */
.verlag-book, h1.related-products__headline, .primary-nav__shop li > a:link,
.primary-nav__shop li > a:visited {
  font-family: "VerlagBook", sans-serif;
  font-weight: normal;
}

/* line 206, ../_sass/_global/_type.scss */
.verlag-light-ital {
  font-family: "VerlagLightItalic", sans-serif;
  font-weight: normal;
}

/* line 211, ../_sass/_global/_type.scss */
.verlag-bold, .primary-nav__shop li.primary-nav__shop__lead > a:link,
.primary-nav__shop li.primary-nav__shop__lead > a:visited, .primary-nav__explore li > a:link,
.primary-nav__explore li > a:visited, .primary-nav__utility .utility--search:after,
.primary-nav__utility .utility--account:after,
.primary-nav__utility .utility--cart:after {
  font-family: "VerlagBold", sans-serif;
  font-weight: normal;
}

/* line 216, ../_sass/_global/_type.scss */
.verlag-black, p.call-out, a.btn:link, a.btn:visited, .footer__primary__nav ul li a:link,
.footer__primary__nav ul li a:visited, .product-grid .featured-product__add-to-cart, .featured-products__grid .featured-product__add-to-cart, .related-products .featured-product__add-to-cart, .product-grid .featured-product__name, .featured-products__grid .featured-product__name, .related-products .featured-product__name, .featured-products__header a.featured-products__shop-link:link,
.featured-products__header a.featured-products__shop-link:visited {
  font-family: "VerlagBlack", Arial, sans-serif;
  font-weight: normal;
}

/*------------------------------------------------------------------
	TYPE
-------------------------------------------------------------------*/
/* line 225, ../_sass/_global/_type.scss */
html {
  font: normal 62.5% "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
  line-height: 100%;
}

/* line 230, ../_sass/_global/_type.scss */
body {
  font-size: 14px;
  line-height: 22px;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

/*------------------------------------------------------------------
	HEADLINES
-------------------------------------------------------------------*/
/* line 241, ../_sass/_global/_type.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-style: normal;
}

/* line 247, ../_sass/_global/_type.scss */
h1 {
  font-size: 42px;
  font-size: 4.2rem;
}
/* line 252, ../_sass/_global/_type.scss */
h1.section__headline {
  color: #939598;
  font-size: 28px;
  font-size: 2.8rem;
  margin: 0 0 60px 0;
}
/* line 260, ../_sass/_global/_type.scss */
h1.featured-products__headline {
  color: #939598;
  font-size: 30px;
  font-size: 3.0rem;
}
/* line 267, ../_sass/_global/_type.scss */
h1.related-products__headline {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  color: #939598;
  font-size: 16px;
  font-size: 1.6rem;
  padding: 0 0 15px 0;
  text-transform: uppercase;
}
/* line 277, ../_sass/_global/_type.scss */
h1.prodcut-details__product-name {
  color: #d2232a;
  font-size: 30px;
  font-size: 3.0rem;
  margin: 0 0 30px 0;
}

/* line 286, ../_sass/_global/_type.scss */
h2 {
  font-size: 36px;
  font-size: 3.6rem;
}

/* line 293, ../_sass/_global/_type.scss */
h3 {
  font-size: 28px;
  font-size: 2.8rem;
}
/* line 298, ../_sass/_global/_type.scss */
h3.footer__sign-up__head {
  color: #d2232a;
  font-size: 4.2rem;
  line-height: 4.4rem;
  margin: 0 0 70px 0;
}

/* line 308, ../_sass/_global/_type.scss */
h4 {
  font-size: 24px;
  font-size: 2.4rem;
}

/* line 315, ../_sass/_global/_type.scss */
h5 {
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 320, ../_sass/_global/_type.scss */
h5.footer__primary__contact__head {
  color: #d2232a;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 30px;
  line-height: 3.0rem;
}

/* line 331, ../_sass/_global/_type.scss */
h6 {
  font-size: 16px;
  font-size: 1.6rem;
}

/*------------------------------------------------------------------
	PARAGRAPH STYLES
-------------------------------------------------------------------*/
/* line 342, ../_sass/_global/_type.scss */
p {
  color: #939598;
  font-size: 20px;
  font-size: 2.0rem;
  line-height: 25px;
  line-height: 2.5rem;
}
/* line 350, ../_sass/_global/_type.scss */
p.featured-recipes__lead-copy {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 34px;
  line-height: 3.4rem;
}

/* line 358, ../_sass/_global/_type.scss */
p {
  margin: 0 0 30px 0;
}

/* line 362, ../_sass/_global/_type.scss */
p.call-out {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 18px;
  line-height: 1.8rem;
  text-transform: uppercase;
}

/*------------------------------------------------------------------
	LIST STYLES
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	MISC
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
    LAYOUT
-------------------------------------------------------------------*/
/* line 5, ../_sass/_global/_layout.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../_sass/_global/_layout.scss */
body {
  background: #FFF;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* line 18, ../_sass/_global/_layout.scss */
body, html {
  height: 100% !important;
  width: 100%;
}

/*------------------------------------------------------------------
    RESPONSIVE CONTAINERS
-------------------------------------------------------------------*/
/* line 27, ../_sass/_global/_layout.scss */
.wrapper {
  position: relative;
  width: 100%;
}

/* line 33, ../_sass/_global/_layout.scss */
.container, .container--full, .container--narrow, .container--wide {
  height: auto;
  margin: 0 auto;
  max-width: 1200px;
  padding: 10% 3%;
  position: relative;
  width: 100%;
}
@media (min-width: 30em) {
  /* line 33, ../_sass/_global/_layout.scss */
  .container, .container--full, .container--narrow, .container--wide {
    padding-top: 8%;
    padding-bottom: 8%;
  }
}
@media (min-width: 40.5em) {
  /* line 33, ../_sass/_global/_layout.scss */
  .container, .container--full, .container--narrow, .container--wide {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
@media (min-width: 64em) {
  /* line 33, ../_sass/_global/_layout.scss */
  .container, .container--full, .container--narrow, .container--wide {
    padding-top: 3%;
    padding-bottom: 3%;
  }
}

/* line 55, ../_sass/_global/_layout.scss */
.container--full {
  padding-left: 2.647058824%;
  padding-right: 2.647058824%;
  max-width: initial;
  width: 100%;
}

/* line 63, ../_sass/_global/_layout.scss */
.container--narrow {
  max-width: 1000px;
}

/* line 68, ../_sass/_global/_layout.scss */
.container--wide {
  max-width: 1200px;
}
@media (min-width: 1250px) {
  /* line 68, ../_sass/_global/_layout.scss */
  .container--wide {
    padding-left: 0;
    padding-right: 0;
  }
}

/*------------------------------------------------------------------
	COLUMNS
-------------------------------------------------------------------*/
/* line 5, ../_sass/_global/_columns.scss */
.row {
  position: relative;
  width: 100%;
}

/* line 11, ../_sass/_global/_columns.scss */
.col, .col-2-3, .col-1-3, .col-1-2, .col-1-4, .product-grid ul > li, .featured-products__grid ul > li, .related-products ul > li, .col-1-8 {
  height: auto;
  margin: 0;
  min-height: 1px;
  position: relative;
  width: 100%;
}
/* line 21, ../_sass/_global/_columns.scss */
.col:last-of-type, .col-2-3:last-of-type, .col-1-3:last-of-type, .col-1-2:last-of-type, .col-1-4:last-of-type, .product-grid ul > li:last-of-type, .featured-products__grid ul > li:last-of-type, .related-products ul > li:last-of-type, .col-1-8:last-of-type {
  padding-right: 0;
}
@media (min-width: 40.5em) {
  /* line 11, ../_sass/_global/_columns.scss */
  .col, .col-2-3, .col-1-3, .col-1-2, .col-1-4, .product-grid ul > li, .featured-products__grid ul > li, .related-products ul > li, .col-1-8 {
    padding-right: 20px;
    float: left;
  }
}

@media (min-width: 40.5em) {
  /* line 32, ../_sass/_global/_columns.scss */
  .col-2-3 {
    width: 66.66%;
  }
}

@media (min-width: 40.5em) {
  /* line 39, ../_sass/_global/_columns.scss */
  .col-1-3 {
    width: 33.33%;
  }
}

@media (min-width: 40.5em) {
  /* line 46, ../_sass/_global/_columns.scss */
  .col-1-2 {
    width: 50%;
  }
}

@media (min-width: 40.5em) {
  /* line 53, ../_sass/_global/_columns.scss */
  .col-1-4, .product-grid ul > li, .featured-products__grid ul > li, .related-products ul > li {
    width: 50%;
  }
}
@media (min-width: 64em) {
  /* line 53, ../_sass/_global/_columns.scss */
  .col-1-4, .product-grid ul > li, .featured-products__grid ul > li, .related-products ul > li {
    width: 25%;
  }
}

/* line 63, ../_sass/_global/_columns.scss */
.col-1-8 {
  width: 12.5%;
}

/*------------------------------------------------------------------
    FORMS
-------------------------------------------------------------------*/
/* line 5, ../_sass/_ui/_forms.scss */
.form__input__text {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #FFF;
  border: none;
  color: #939598;
  display: block;
  font-size: 24px;
  font-size: 2.4rem;
  height: 85px;
  padding: 0 0 0 30px;
  width: 100%;
}
@media (min-width: 40.5em) {
  /* line 5, ../_sass/_ui/_forms.scss */
  .form__input__text {
    width: 62.5%;
  }
}

/*------------------------------------------------------------------
    UI: Buttons
-------------------------------------------------------------------*/
/* line 5, ../_sass/_ui/_buttons.scss */
a.btn:link, a.btn:visited {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  display: table;
  height: 60px;
  margin: 0 0 20px 0;
  padding: 0 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 23, ../_sass/_ui/_buttons.scss */
a.btn:link span, a.btn:visited span {
  font-size: 17px;
  font-size: 1.7rem;
  display: table-cell;
  letter-spacing: 0.3rem;
  vertical-align: middle;
}
/* line 30, ../_sass/_ui/_buttons.scss */
a.btn:link span span, a.btn:visited span span {
  display: inline;
  width: auto;
}
/* line 35, ../_sass/_ui/_buttons.scss */
a.btn:link span span + span, a.btn:visited span span + span {
  display: inline-block;
  margin-left: 5px;
  margin-top: -2px;
  vertical-align: none;
}
/* line 45, ../_sass/_ui/_buttons.scss */
a.btn:link.lrg, a.btn:visited.lrg {
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  width: 33.5%;
}
/* line 51, ../_sass/_ui/_buttons.scss */
a.btn:link.full, a.btn:visited.full {
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* line 60, ../_sass/_ui/_buttons.scss */
a.btn:link.red, a.btn:link.blue, a.btn:link.olive-green, a.btn:link.peach, a.btn:link.purple, a.btn:link.pumpkin, a.btn:link.yellow-green, a.btn:visited.red, a.btn:visited.blue, a.btn:visited.olive-green, a.btn:visited.peach, a.btn:visited.purple, a.btn:visited.pumpkin, a.btn:visited.yellow-green {
  border: 3px;
  border-style: solid;
  color: #FFF;
}
/* line 66, ../_sass/_ui/_buttons.scss */
a.btn:link.red, a.btn:visited.red {
  border-color: #d2232a;
  background-color: #d2232a;
}
/* line 70, ../_sass/_ui/_buttons.scss */
a.btn:link.red:hover, a.btn:link.red:active, a.btn:visited.red:hover, a.btn:visited.red:active {
  background-color: #FFF;
  color: #d2232a;
}
/* line 75, ../_sass/_ui/_buttons.scss */
a.btn:link.blue, a.btn:visited.blue {
  background-color: #344976;
  border-color: #344976;
}
/* line 83, ../_sass/_ui/_buttons.scss */
a.btn:link.olive-green, a.btn:visited.olive-green {
  background-color: #5c8727;
}
/* line 90, ../_sass/_ui/_buttons.scss */
a.btn:link.peach, a.btn:visited.peach {
  background-color: #fbae4b;
}
/* line 97, ../_sass/_ui/_buttons.scss */
a.btn:link.purple, a.btn:visited.purple {
  background-color: #662d63;
}
/* line 104, ../_sass/_ui/_buttons.scss */
a.btn:link.pumpkin, a.btn:visited.pumpkin {
  background-color: #dd691d;
}
/* line 111, ../_sass/_ui/_buttons.scss */
a.btn:link.yellow-green, a.btn:visited.yellow-green {
  background-color: #b9bc17;
}
/* line 121, ../_sass/_ui/_buttons.scss */
a.btn:link.ghost, a.btn:visited.ghost {
  background-color: transparent;
  border: 3px;
  border-style: solid;
  padding: 0 50px;
}
/* line 128, ../_sass/_ui/_buttons.scss */
a.btn:link.ghost.red, a.btn:visited.ghost.red {
  border-color: #d2232a;
  color: #d2232a;
}
/* line 132, ../_sass/_ui/_buttons.scss */
a.btn:link.ghost.red:hover, a.btn:link.ghost.red:active, a.btn:visited.ghost.red:hover, a.btn:visited.ghost.red:active {
  background-color: #d2232a;
  color: #FFF;
}
/* line 137, ../_sass/_ui/_buttons.scss */
a.btn:link.ghost.blue, a.btn:visited.ghost.blue {
  border-color: #344976;
  color: #344976;
}
/* line 141, ../_sass/_ui/_buttons.scss */
a.btn:link.ghost.blue:hover, a.btn:link.ghost.blue:active, a.btn:visited.ghost.blue:hover, a.btn:visited.ghost.blue:active {
  background-color: #344976;
  color: #FFF;
}
/* line 146, ../_sass/_ui/_buttons.scss */
a.btn:link.ghost.olive-green, a.btn:visited.ghost.olive-green {
  border-color: #5c8727;
  color: #5c8727;
}
/* line 150, ../_sass/_ui/_buttons.scss */
a.btn:link.ghost.olive-green:hover, a.btn:link.ghost.olive-green:active, a.btn:visited.ghost.olive-green:hover, a.btn:visited.ghost.olive-green:active {
  background-color: #5c8727;
  color: #FFF;
}
/* line 155, ../_sass/_ui/_buttons.scss */
a.btn:link.ghost.peach, a.btn:visited.ghost.peach {
  border-color: #fbae4b;
  color: #fbae4b;
}
/* line 159, ../_sass/_ui/_buttons.scss */
a.btn:link.ghost.peach:hover, a.btn:link.ghost.peach:active, a.btn:visited.ghost.peach:hover, a.btn:visited.ghost.peach:active {
  background-color: #fbae4b;
  color: #FFF;
}
/* line 164, ../_sass/_ui/_buttons.scss */
a.btn:link.ghost.purple, a.btn:visited.ghost.purple {
  border-color: #662d63;
  color: #662d63;
}
/* line 168, ../_sass/_ui/_buttons.scss */
a.btn:link.ghost.purple:hover, a.btn:link.ghost.purple:active, a.btn:visited.ghost.purple:hover, a.btn:visited.ghost.purple:active {
  background-color: #662d63;
  color: #FFF;
}
/* line 173, ../_sass/_ui/_buttons.scss */
a.btn:link.ghost.pumpkin, a.btn:visited.ghost.pumpkin {
  border-color: #dd691d;
  color: #dd691d;
}
/* line 177, ../_sass/_ui/_buttons.scss */
a.btn:link.ghost.pumpkin:hover, a.btn:link.ghost.pumpkin:active, a.btn:visited.ghost.pumpkin:hover, a.btn:visited.ghost.pumpkin:active {
  background-color: #dd691d;
  color: #FFF;
}
/* line 182, ../_sass/_ui/_buttons.scss */
a.btn:link.ghost.yellow-green, a.btn:visited.ghost.yellow-green {
  border-color: #b9bc17;
  color: #b9bc17;
}
/* line 186, ../_sass/_ui/_buttons.scss */
a.btn:link.ghost.yellow-green:hover, a.btn:link.ghost.yellow-green:active, a.btn:visited.ghost.yellow-green:hover, a.btn:visited.ghost.yellow-green:active {
  background-color: #b9bc17;
  color: #FFF;
}

/*------------------------------------------------------------------
    UI: Misc
-------------------------------------------------------------------*/
/* line 5, ../_sass/_ui/_misc.scss */
hr {
  background: transparent;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  height: 1px;
  margin: 0 0 90px 0;
}

/*------------------------------------------------------------------
    MODULES
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/
/* line 5, ../_sass/_modules/_header.scss */
.header-container {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #FFF;
  height: auto;
  margin: 0;
  min-height: 170px;
  padding-bottom: 0;
  padding-top: 0;
  position: fixed;
  width: 100%;
  z-index: 1001;
}
/* line 18, ../_sass/_modules/_header.scss */
.header-container header.container--full {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 23, ../_sass/_modules/_header.scss */
.header-container.header--condensed {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
  height: 55px;
  min-height: 0px;
}
/* line 29, ../_sass/_modules/_header.scss */
.header-container.header--condensed .header__primary__logo img.header__primary__logo-sm {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  margin: 0;
  width: 100%;
}
/* line 35, ../_sass/_modules/_header.scss */
.header-container.header--condensed .header__primary__logo img.header__primary__logo-lrg {
  margin: 0;
  width: 0;
  visibility: hidden;
}
/* line 42, ../_sass/_modules/_header.scss */
.header-container.header--condensed .header__primary-nav {
  padding-top: 8px;
}
/* line 46, ../_sass/_modules/_header.scss */
.header-container.header--condensed .header__primary-nav ul > li {
  margin-left: 0px;
}
/* line 50, ../_sass/_modules/_header.scss */
.header-container.header--condensed .primary-nav__explore {
  height: 30px;
}
/* line 56, ../_sass/_modules/_header.scss */
.header-container.header--condensed .primary-nav__utility li > a:link,
.header-container.header--condensed .primary-nav__utility li > a:visited {
  color: #939598;
}
/* line 65, ../_sass/_modules/_header.scss */
.header-container.header--condensed .primary-nav__utility .utility--search:hover, .header-container.header--condensed .primary-nav__utility .utility--search:active,
.header-container.header--condensed .primary-nav__utility .utility--account:hover,
.header-container.header--condensed .primary-nav__utility .utility--account:active,
.header-container.header--condensed .primary-nav__utility .utility--cart:hover,
.header-container.header--condensed .primary-nav__utility .utility--cart:active {
  color: #d2232a;
}
/* line 70, ../_sass/_modules/_header.scss */
.header-container.header--condensed .primary-nav__utility .utility--search:after,
.header-container.header--condensed .primary-nav__utility .utility--account:after,
.header-container.header--condensed .primary-nav__utility .utility--cart:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  font-size: 0px;
  font-size: 0rem;
  height: 0px;
}
@media (min-width: 64em) {
  /* line 5, ../_sass/_modules/_header.scss */
  .header-container {
    max-height: 130px;
  }
}

/* line 87, ../_sass/_modules/_header.scss */
.header__primary__logo img.header__primary__logo-sm {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-left: 94;
  max-width: 188px;
  width: 0;
}
/* line 93, ../_sass/_modules/_header.scss */
.header__primary__logo img.header__primary__logo-lrg {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 6px 0 0 0;
  max-width: 155px;
  width: 100%;
  visibility: visible;
}
@media (min-width: 40.5em) {
  /* line 85, ../_sass/_modules/_header.scss */
  .header__primary__logo {
    float: left;
    width: 13.333333333%;
  }
}

/*------------------------------------------------------------------
    PRIMARY NAVIGATION
-------------------------------------------------------------------*/
/* line 112, ../_sass/_modules/_header.scss */
.header__primary-nav {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-top: 55px;
}
/* line 117, ../_sass/_modules/_header.scss */
.header__primary-nav ul > li {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: inline-block;
}
/* line 122, ../_sass/_modules/_header.scss */
.header__primary-nav ul > li > a:link,
.header__primary-nav ul > li > a:visited {
  text-decoration: none;
  text-transform: uppercase;
}
@media (min-width: 40.5em) {
  /* line 112, ../_sass/_modules/_header.scss */
  .header__primary-nav {
    float: left;
    width: 86.666666667%;
  }
}

/* line 134, ../_sass/_modules/_header.scss */
.primary-nav__shop {
  float: left;
  height: 40px;
  margin-top: 12px;
}
/* line 139, ../_sass/_modules/_header.scss */
.primary-nav__shop li {
  padding: 10px 0 0 0;
}
/* line 143, ../_sass/_modules/_header.scss */
.primary-nav__shop li.primary-nav__shop__lead > a:link,
.primary-nav__shop li.primary-nav__shop__lead > a:visited {
  color: #d2232a;
}
/* line 148, ../_sass/_modules/_header.scss */
.primary-nav__shop li.primary-nav__shop__lead > a:link span,
.primary-nav__shop li.primary-nav__shop__lead > a:visited span {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  margin: 0 0 0 10px;
}
/* line 154, ../_sass/_modules/_header.scss */
.primary-nav__shop li > a:link,
.primary-nav__shop li > a:visited {
  color: #939598;
  font-size: 19px;
  font-size: 1.9rem;
  letter-spacing: 0.10em;
  margin: 0 0 0 15px;
}
/* line 163, ../_sass/_modules/_header.scss */
.primary-nav__shop li > a:link span,
.primary-nav__shop li > a:visited span {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  position: relative;
  margin: 0 0 0 6px;
}
/* line 171, ../_sass/_modules/_header.scss */
.primary-nav__shop li > a:link:hover, .primary-nav__shop li > a:link:active,
.primary-nav__shop li > a:visited:hover,
.primary-nav__shop li > a:visited:active {
  color: #d2232a;
}
@media (min-width: 40.5em) {
  /* line 134, ../_sass/_modules/_header.scss */
  .primary-nav__shop {
    margin-left: 5%;
  }
}
@media (min-width: 64em) {
  /* line 134, ../_sass/_modules/_header.scss */
  .primary-nav__shop {
    margin-left: 6.25%;
  }
}

/* line 185, ../_sass/_modules/_header.scss */
.primary-nav__explore {
  border-left: 2px solid rgba(0, 0, 0, 0.08);
  float: left;
  height: 40px;
  margin-left: 24px;
  margin-top: 12px;
  padding-left: 12px;
}
/* line 195, ../_sass/_modules/_header.scss */
.primary-nav__explore li {
  margin: 0 12px;
  padding: 10px 0 0 0;
}
/* line 200, ../_sass/_modules/_header.scss */
.primary-nav__explore li > a:link,
.primary-nav__explore li > a:visited {
  color: #939598;
  font-size: 19px;
  font-size: 1.9rem;
  letter-spacing: 0.10em;
}
/* line 208, ../_sass/_modules/_header.scss */
.primary-nav__explore li > a:link:hover, .primary-nav__explore li > a:link:active,
.primary-nav__explore li > a:visited:hover,
.primary-nav__explore li > a:visited:active {
  color: #d2232a;
}

/* line 215, ../_sass/_modules/_header.scss */
.primary-nav__utility {
  float: right;
  margin: 10px 0 0 0;
}
/* line 219, ../_sass/_modules/_header.scss */
.primary-nav__utility li {
  margin: 0 0 0 15px;
}
/* line 223, ../_sass/_modules/_header.scss */
.primary-nav__utility li > a:link,
.primary-nav__utility li > a:visited {
  color: #d2232a;
  display: block;
  font-size: 20px;
  font-size: 2.0rem;
  min-width: 48px;
  text-align: center;
}
/* line 232, ../_sass/_modules/_header.scss */
.primary-nav__utility li > a:link:hover, .primary-nav__utility li > a:link:active,
.primary-nav__utility li > a:visited:hover,
.primary-nav__utility li > a:visited:active {
  color: #fbae4b;
}
/* line 238, ../_sass/_modules/_header.scss */
.primary-nav__utility .utility--search,
.primary-nav__utility .utility--account,
.primary-nav__utility .utility--cart {
  text-align: center;
}
/* line 243, ../_sass/_modules/_header.scss */
.primary-nav__utility .utility--search:after,
.primary-nav__utility .utility--account:after,
.primary-nav__utility .utility--cart:after {
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  font-size: 8px;
  font-size: 0.8rem;
  height: 10px;
  line-height: 10px;
  line-height: 1.0rem;
  margin: 0 auto;
}
@media (min-width: 40.5em) {
  /* line 256, ../_sass/_modules/_header.scss */
  .primary-nav__utility .utility--search:after,
  .primary-nav__utility .utility--account:after,
  .primary-nav__utility .utility--cart:after {
    display: block;
  }
}
/* line 263, ../_sass/_modules/_header.scss */
.primary-nav__utility .utility--search:after {
  content: "Search";
}
/* line 268, ../_sass/_modules/_header.scss */
.primary-nav__utility .utility--account:after {
  content: "Account";
}
/* line 273, ../_sass/_modules/_header.scss */
.primary-nav__utility .utility--cart:after {
  content: "Cart";
}

/*------------------------------------------------------------------
    SHIPPING BANNER
-------------------------------------------------------------------*/
/* line 283, ../_sass/_modules/_header.scss */
.shipping-banner {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background-color: #FFF;
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  border-top: 2px solid rgba(0, 0, 0, 0.08);
  height: auto;
  min-height: 45px;
  position: fixed;
  text-align: center;
  top: 170px;
  vertical-align: middle;
  visibility: visible;
  width: 100%;
  z-index: 1000;
}
/* line 300, ../_sass/_modules/_header.scss */
.shipping-banner .container--wide {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 305, ../_sass/_modules/_header.scss */
.shipping-banner .as-icon-shipping {
  color: #d2232a;
  display: inline-block;
  font-size: 36px;
  font-size: 3.6rem;
  margin: 0 30px;
  vertical-align: middle;
}
/* line 314, ../_sass/_modules/_header.scss */
.shipping-banner .divider {
  margin: 0 15px;
}
/* line 319, ../_sass/_modules/_header.scss */
.shipping-banner p {
  color: #d2232a;
  display: inline-block;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 45px;
  margin: 0;
  vertical-align: middle;
}
/* line 332, ../_sass/_modules/_header.scss */
.shipping-banner p.shipping-banner__msg02 {
  text-transform: uppercase;
  letter-spacing: 0.09em;
}
/* line 339, ../_sass/_modules/_header.scss */
.shipping-banner.hidden {
  visibility: hidden;
  top: 0;
}

/* line 346, ../_sass/_modules/_header.scss */
.shipping-banner--red {
  background-color: #d2232a;
  border-top: none;
  border-bottom: none;
}
/* line 352, ../_sass/_modules/_header.scss */
.shipping-banner--red .as-icon-shipping, .shipping-banner--red p {
  color: #FFF;
}

/*------------------------------------------------------------------
    FOOTER
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
    FOOTER: Sign-up form
-------------------------------------------------------------------*/
/* line 11, ../_sass/_modules/_footer.scss */
.footer__sign-up {
  background-color: #e7e7e7;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

/* line 19, ../_sass/_modules/_footer.scss */
.footer__sign-up__form {
  margin: 0 auto;
  width: auto;
}

@media (min-width: 40.5em) {
  /* line 25, ../_sass/_modules/_footer.scss */
  .footer__sign-up__input {
    float: left;
  }
}

@media (min-width: 40.5em) {
  /* line 31, ../_sass/_modules/_footer.scss */
  .footer__sign-up__btn {
    float: right;
  }
}

/*------------------------------------------------------------------
	FOOTER: Primary

	Wrapper = 1573px wide

	Column 1: 270px (270/1573 = 17.164653528%)
	Column 2: 215px (215/1573 = 13.668150032%)
	Column 3: 504px (504/1573 = 32.040686586%)
	Column 4: 584px (584/1573 = 37.126509854%)

-------------------------------------------------------------------*/
/* line 49, ../_sass/_modules/_footer.scss */
.footer__primary {
  background-color: #FFF;
  height: auto;
  min-height: 262px;
  padding-bottom: 55px;
  padding-top: 55px;
}
@media (min-width: 40.5em) {
  /* line 56, ../_sass/_modules/_footer.scss */
  .footer__primary .col-1-2 {
    float: none;
    width: 100%;
  }
}
@media (min-width: 64em) {
  /* line 56, ../_sass/_modules/_footer.scss */
  .footer__primary .col-1-2 {
    float: left;
    width: 50%;
  }
}

/* line 77, ../_sass/_modules/_footer.scss */
.footer__primary__logo {
  max-width: 160px;
  width: 100%;
}

/* line 84, ../_sass/_modules/_footer.scss */
.footer__primary__contact p {
  color: #262626;
  line-height: 3.2rem;
}
/* line 89, ../_sass/_modules/_footer.scss */
.footer__primary__contact a:link, .footer__primary__contact a:visited {
  color: #262626;
  text-decoration: none;
}
@media (min-width: 40.5em) {
  /* line 82, ../_sass/_modules/_footer.scss */
  .footer__primary__contact {
    padding-top: 30px;
  }
}

/* line 101, ../_sass/_modules/_footer.scss */
.footer__primary__nav {
  border-left: 2px solid #e7e7e7;
  padding-left: 45px;
}
/* line 105, ../_sass/_modules/_footer.scss */
.footer__primary__nav ul {
  margin: 0;
  padding: 0;
}
/* line 110, ../_sass/_modules/_footer.scss */
.footer__primary__nav ul li {
  margin: 10px 0;
}
/* line 114, ../_sass/_modules/_footer.scss */
.footer__primary__nav ul li a:link,
.footer__primary__nav ul li a:visited {
  color: #939598;
  font-size: 18px;
  font-size: 1.8rem;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 123, ../_sass/_modules/_footer.scss */
.footer__primary__nav ul li a:link:hover, .footer__primary__nav ul li a:link:active,
.footer__primary__nav ul li a:visited:hover,
.footer__primary__nav ul li a:visited:active {
  color: #d2232a;
}

/* line 131, ../_sass/_modules/_footer.scss */
.footer__primary__social {
  float: right;
  overflow: hidden;
  max-width: 486px;
  width: 100%;
}
/* line 137, ../_sass/_modules/_footer.scss */
.footer__primary__social li {
  border: 1px solid #e7e7e7;
  border-right: none;
  max-width: 160px;
}
/* line 142, ../_sass/_modules/_footer.scss */
.footer__primary__social li:last-child {
  border-right: 1px solid #e7e7e7;
}
/* line 147, ../_sass/_modules/_footer.scss */
.footer__primary__social li a:link,
.footer__primary__social li a:visited {
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  background-color: #FFF;
  color: #d0d4d7;
  display: block;
  font-size: 4.2rem;
  height: 160px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
/* line 160, ../_sass/_modules/_footer.scss */
.footer__primary__social li a:link span,
.footer__primary__social li a:visited span {
  display: block;
  padding: 60px 0 0 0;
}
/* line 165, ../_sass/_modules/_footer.scss */
.footer__primary__social li a:link:hover, .footer__primary__social li a:link:active,
.footer__primary__social li a:visited:hover,
.footer__primary__social li a:visited:active {
  color: #FFF;
}
/* line 172, ../_sass/_modules/_footer.scss */
.footer__primary__social li.social-icon__pinterest a:hover, .footer__primary__social li.social-icon__pinterest a:active {
  background-color: #d2232a;
}
/* line 176, ../_sass/_modules/_footer.scss */
.footer__primary__social li.social-icon__facebook a:hover, .footer__primary__social li.social-icon__facebook a:active {
  background-color: #3b5999;
}
/* line 180, ../_sass/_modules/_footer.scss */
.footer__primary__social li.social-icon__instagram a:hover, .footer__primary__social li.social-icon__instagram a:active {
  background-color: #306299;
}
@media (min-width: 40.5em) {
  /* line 185, ../_sass/_modules/_footer.scss */
  .footer__primary__social li {
    float: left;
    width: 33.333333333%;
  }
}

/*------------------------------------------------------------------
    FOOTER: Secondary
-------------------------------------------------------------------*/
/* line 197, ../_sass/_modules/_footer.scss */
.footer__secondary {
  background-color: #d2232a;
  min-height: 75px;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* line 204, ../_sass/_modules/_footer.scss */
.footer__secondary__copyright {
  color: #FFF;
  margin: 0 0 25px 0;
  text-align: center;
  width: auto;
}
@media (min-width: 40.5em) {
  /* line 204, ../_sass/_modules/_footer.scss */
  .footer__secondary__copyright {
    float: left;
    text-align: left;
  }
}

/* line 216, ../_sass/_modules/_footer.scss */
.footer__secondary__nav {
  width: auto;
}
/* line 219, ../_sass/_modules/_footer.scss */
.footer__secondary__nav ul {
  overflow: hidden;
  width: auto;
}
/* line 224, ../_sass/_modules/_footer.scss */
.footer__secondary__nav ul > li {
  display: block;
  float: left;
  text-align: center;
  width: 33.333333333%;
}
/* line 233, ../_sass/_modules/_footer.scss */
.footer__secondary__nav ul > li > a:link, .footer__secondary__nav ul > li > a:visited {
  color: #FFF;
  font-size: 20px;
  font-size: 2.0rem;
  line-height: 25px;
  line-height: 2.5rem;
  text-decoration: none;
}
@media (min-width: 40.5em) {
  /* line 216, ../_sass/_modules/_footer.scss */
  .footer__secondary__nav {
    float: right;
  }
  /* line 248, ../_sass/_modules/_footer.scss */
  .footer__secondary__nav ul > li {
    margin: 0 0 0 30px;
    width: initial;
  }
}

/*------------------------------------------------------------------
    PAGE: Product
-------------------------------------------------------------------*/
/* line 7, ../_sass/_modules/_product-grid.scss */
.product-grid ul, .featured-products__grid ul, .related-products ul {
  padding-bottom: 60px;
}
/* line 12, ../_sass/_modules/_product-grid.scss */
.product-grid ul > li, .featured-products__grid ul > li, .related-products ul > li {
  text-align: center;
  padding: 0;
}
/* line 18, ../_sass/_modules/_product-grid.scss */
.product-grid a.featured-product__link:link, .featured-products__grid a.featured-product__link:link, .related-products a.featured-product__link:link,
.product-grid a.featured-product__link:visited,
.featured-products__grid a.featured-product__link:visited,
.related-products a.featured-product__link:visited {
  color: #939598;
  display: block;
  margin: 0 auto;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
/* line 29, ../_sass/_modules/_product-grid.scss */
.product-grid .featured-product__img, .featured-products__grid .featured-product__img, .related-products .featured-product__img,
.product-grid .featured-product__name,
.featured-products__grid .featured-product__name,
.related-products .featured-product__name,
.product-grid .featured-product__price,
.featured-products__grid .featured-product__price,
.related-products .featured-product__price {
  display: block;
  margin: 0 auto;
}
/* line 35, ../_sass/_modules/_product-grid.scss */
.product-grid .featured-product__add-to-cart, .featured-products__grid .featured-product__add-to-cart, .related-products .featured-product__add-to-cart {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  background-color: #d2232a;
  color: #FFF;
  display: inline-block;
  letter-spacing: 0.05em;
  margin: -23px auto 0 -76.5px;
  padding: 12px 24px;
  position: absolute;
  top: 30%;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: auto;
  z-index: 1;
}
/* line 54, ../_sass/_modules/_product-grid.scss */
.product-grid .featured-product__img, .featured-products__grid .featured-product__img, .related-products .featured-product__img {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  margin-bottom: 25px;
}
/* line 59, ../_sass/_modules/_product-grid.scss */
.product-grid .featured-product__name, .featured-products__grid .featured-product__name, .related-products .featured-product__name {
  color: #4c4c4c;
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0 0 10px 0;
  text-transform: uppercase;
}
/* line 67, ../_sass/_modules/_product-grid.scss */
.product-grid .featured-product__price, .featured-products__grid .featured-product__price, .related-products .featured-product__price {
  color: #939598;
  font-size: 24px;
  font-size: 2.4rem;
}
/* line 74, ../_sass/_modules/_product-grid.scss */
.product-grid a.featured-product__link:hover, .featured-products__grid a.featured-product__link:hover, .related-products a.featured-product__link:hover,
.product-grid a.featured-product__link:active,
.featured-products__grid a.featured-product__link:active,
.related-products a.featured-product__link:active {
  border: 4px solid #d2232a;
  margin-top: -4px;
}
/* line 79, ../_sass/_modules/_product-grid.scss */
.product-grid a.featured-product__link:hover img, .featured-products__grid a.featured-product__link:hover img, .related-products a.featured-product__link:hover img,
.product-grid a.featured-product__link:active img,
.featured-products__grid a.featured-product__link:active img,
.related-products a.featured-product__link:active img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}
/* line 82, ../_sass/_modules/_product-grid.scss */
.product-grid a.featured-product__link:hover span, .featured-products__grid a.featured-product__link:hover span, .related-products a.featured-product__link:hover span,
.product-grid a.featured-product__link:active span,
.featured-products__grid a.featured-product__link:active span,
.related-products a.featured-product__link:active span {
  color: #d2232a;
}
/* line 85, ../_sass/_modules/_product-grid.scss */
.product-grid a.featured-product__link:hover span.featured-product__add-to-cart, .featured-products__grid a.featured-product__link:hover span.featured-product__add-to-cart, .related-products a.featured-product__link:hover span.featured-product__add-to-cart,
.product-grid a.featured-product__link:active span.featured-product__add-to-cart,
.featured-products__grid a.featured-product__link:active span.featured-product__add-to-cart,
.related-products a.featured-product__link:active span.featured-product__add-to-cart {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  color: #FFF;
  top: 50%;
}

/*------------------------------------------------------------------
    PAGES
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
    MAIN PAGE CONTENT
-------------------------------------------------------------------*/
/* line 5, ../_sass/_pages/_main.scss */
.main-container {
  width: 100%;
}

/*------------------------------------------------------------------
    PAGE: Home / Mantle
-------------------------------------------------------------------*/
/* line 5, ../_sass/_pages/_home.scss */
.home-mantle {
  background-color: #e7e7e7;
  height: auto;
}
/* line 9, ../_sass/_pages/_home.scss */
.home-mantle img {
  height: 100%;
  width: 100%;
}
@media (min-width: 64em) {
  /* line 5, ../_sass/_pages/_home.scss */
  .home-mantle {
    height: 650px;
  }
}

/*------------------------------------------------------------------
    PAGE: Home / Featured Products
-------------------------------------------------------------------*/
@media (min-width: 40.5em) {
  /* line 23, ../_sass/_pages/_home.scss */
  .featured-products {
    padding: 8.333333333% 0;
  }
}

/* line 29, ../_sass/_pages/_home.scss */
.featured-products__header {
  border-bottom: 2px solid #e7e7e7;
  padding: 0 30px 25px 30px;
}
/* line 34, ../_sass/_pages/_home.scss */
.featured-products__header a.featured-products__shop-link:link,
.featured-products__header a.featured-products__shop-link:visited {
  color: #939598;
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 45, ../_sass/_pages/_home.scss */
.featured-products__header a.featured-products__shop-link:link:hover, .featured-products__header a.featured-products__shop-link:link:active,
.featured-products__header a.featured-products__shop-link:visited:hover,
.featured-products__header a.featured-products__shop-link:visited:active {
  color: #d2232a;
}
@media (min-width: 40.5em) {
  /* line 52, ../_sass/_pages/_home.scss */
  .featured-products__header h1 {
    float: left;
  }
  /* line 55, ../_sass/_pages/_home.scss */
  .featured-products__header a:link, .featured-products__header a:visited {
    float: right;
  }
}

/* line 66, ../_sass/_pages/_home.scss */
.featured-products__grid ul {
  padding-top: 60px;
}
/* line 70, ../_sass/_pages/_home.scss */
.featured-products__grid ul > li {
  margin: 75px 0;
}

/*------------------------------------------------------------------
    PAGE: Home / Featured Recipes
-------------------------------------------------------------------*/
/* line 80, ../_sass/_pages/_home.scss */
.featured-recipes {
  background-color: #f4f8f6;
}

/* line 86, ../_sass/_pages/_home.scss */
.featured-recipes__header .featured-recipes__rule {
  background: url("../_img/as_icon_FPO_fork-knife.jpg") no-repeat 50% 50% transparent;
  border: none;
  height: 70px;
  margin: 45px auto 45px auto;
  position: relative;
  width: 100%;
}
/* line 94, ../_sass/_pages/_home.scss */
.featured-recipes__header .featured-recipes__rule:before, .featured-recipes__header .featured-recipes__rule:after {
  border-bottom: 2px solid #d0d4d7;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 45%;
}
/* line 102, ../_sass/_pages/_home.scss */
.featured-recipes__header .featured-recipes__rule:before {
  left: 0;
}
/* line 105, ../_sass/_pages/_home.scss */
.featured-recipes__header .featured-recipes__rule:after {
  right: 0;
}
/* line 110, ../_sass/_pages/_home.scss */
.featured-recipes__header a.btn:link, .featured-recipes__header a.btn:visited {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
/* line 116, ../_sass/_pages/_home.scss */
.featured-recipes__header h1 {
  color: #5c8727;
  font-size: 30px;
  font-size: 3.0rem;
  line-height: 34px;
  line-height: 3.4rem;
  text-align: center;
  margin: 0 0 60px 0;
}

/* line 128, ../_sass/_pages/_home.scss */
.featured-recipes__grid {
  margin: 60px 0 0 0;
}
/* line 132, ../_sass/_pages/_home.scss */
.featured-recipes__grid ul {
  overflow: hidden;
}
/* line 136, ../_sass/_pages/_home.scss */
.featured-recipes__grid ul > li {
  margin-bottom: 20px;
}
/* line 140, ../_sass/_pages/_home.scss */
.featured-recipes__grid img {
  width: 100%;
}

/*------------------------------------------------------------------
    PAGE: Product
-------------------------------------------------------------------*/
/* line 6, ../_sass/_pages/_product.scss */
.product-single .main-container {
  padding-top: 219px;
}

/* line 11, ../_sass/_pages/_product.scss */
.product-wrapper {
  padding: 60px 0 90px 0;
}

/* line 19, ../_sass/_pages/_product.scss */
.product-photos figure {
  text-align: center;
}
/* line 23, ../_sass/_pages/_product.scss */
.product-photos figure img {
  margin: 0 auto;
}

/*------------------------------------------------------------------
    PAGE: Product / Related products
-------------------------------------------------------------------*/
/* line 37, ../_sass/_pages/_product.scss */
.related-products ul > li {
  margin: 30px 0;
}

/*------------------------------------------------------------------
    LEGACY BROWSER SUPPORT
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
    VENDOR PLUGINS
-------------------------------------------------------------------*/
