/*------------------------------------------------------------------
	COLUMNS
-------------------------------------------------------------------*/

.row {
	@extend .cf;
	position: relative;
	width: 100%;
}

.col {
	height: auto;
	margin: 0;
	min-height: 1px;
	position: relative;
	width: 100%;

	&:last-of-type {
		margin-right: 0;
	}

	@include respond($med) {
		margin-right: $gutter;
		float: left;
	}

}

.col-1-5, .col-2-5, .col-3-5, .col-4-5, .col-1-3, .col-2-3, .col-1-2, .col-1-4, .col-3-4, .col-1-8 {
	@extend .col;
}

/*------------------------------------------------------------------
	COLUMNS / Full container columns
-------------------------------------------------------------------*/

.col-1-2 {
	@include respond($med) {
		margin: 0;
		padding-right: 10px;
		width: (1/2 * 100%);

		&:nth-child(2n) {
			padding-right: 0;
			padding-left: 10px;
		}
	}
}

.col-1-3 {
	@include respond($med) {
		width: calc(((1/3) * 100%) - 20px);
	}
}

.col-2-3 {
	@include respond($med) {
		width: calc((2/3) * 100%);
	}
}

.col-2-5 {
	@include respond($med) {
		width: calc(((2/5) * 100%) - 20px);
	}
}

.col-3-5 {
	@include respond($med) {
		width: calc((3/5) * 100%);
	}
}

/*------------------------------------------------------------------
	COLUMNS / Narrow container columns
-------------------------------------------------------------------*/

.container--narrow {

	.col-1-5 {
		@include respond($med) {
			width: (($container-narrow - $gutter) / 5) / $container-narrow * 100%;
		}
	}
	.col-2-5 {
		@include respond($med) {
			width: ((($container-narrow - $gutter) / 5) * 2) / $container-narrow * 100%;
		}
	}
	.col-3-5 {
		@include respond($med) {
			width: ((($container-narrow - $gutter) / 5) * 3) / $container-narrow * 100%;
		}
	}
	.col-3-5 {
		@include respond($med) {
			width: ((($container-narrow - $gutter) / 5) * 4) / $container-narrow * 100%;
		}
	}

	.col-1-3 {
		@include respond($med) {
			width: (($container-narrow - $gutter * 2) / 3) / $container-narrow * 100%;

			&:nth-child(3) {
				margin-right: 0;
			}
		}
	}
	.col-2-3 {
		@include respond($med) {
			width: ((($container-narrow - $gutter * 2) / 3) * 2) / $container-narrow * 100%;
		}
	}

	.col-1-2 {
		@include respond($med) {
			width: (($container-narrow - $gutter) / 2) / $container-narrow * 100%;

			&:nth-child(2) {
				margin-right: 0;
			}
		}
	}
	.col-1-4 {
		@include respond($med) {
			width: (($container-narrow - $gutter * 3) / 4) / $container-narrow * 100%;

			&:nth-child(4) {
				margin-right: 0;
			}
		}
	}
	.col-1-8 {
		@include respond($med) {
			width: (($container-narrow - $gutter * 7) / 8) / $container-narrow * 100%;
		}
	}

}

/*------------------------------------------------------------------
	COLUMNS / Wide container columns
-------------------------------------------------------------------*/

.container--wide {

	.col-1-5 {
		@include respond($med) {
			width: (($container-wide - $gutter) / 5) / $container-wide * 100%;
		}
	}
	.col-2-5 {
		@include respond($med) {
			// width: ((($container-wide - $gutter ) * 2/5 )) / $container-wide * 100%;
		}
	}
	.col-3-5 {
		@include respond($med) {
			// width: ((($container-wide - $gutter ) * 3/5 )) / $container-wide * 100%;
		}
	}

	.col-1-3 {
		@include respond($med) {
			width: (($container-wide - ($gutter * 2)) / 3) / $container-wide * 100%;

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
	.col-2-3 {
		@include respond($med) {
			width: ((($container-wide - ($gutter * 2)) / 3) * 2) / $container-wide * 100%;
		}
	}

	// .col-1-2 {
	// 	@include respond($med) {
	// 		margin: 0;
	// 		padding-right: 10px;
	// 		width: (1/2 * 100%);

	// 		&:nth-child(2n) {
	// 			padding-right: 0;
	// 			padding-left: 10px;
	// 		}
	// 	}
	// }
	.col-1-4 {
		@include respond($med) {
			width: (($container-wide - ($gutter * 3)) / 4) / $container-wide * 100%;

			&:nth-child(4n) {
				margin-right: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.col-3-4 {
		@include respond($med) {
			width: ((($container-wide - ($gutter * 3)) / 4) * 3) / $container-wide * 100%;
		}
	}
	.col-1-8 {
		@include respond($med) {
			width: (($container-wide - ($gutter * 7)) / 8) / $container-wide * 100%;
		}
	}

}