/*------------------------------------------------------------------
	ICOMOON ICON FONTS
-------------------------------------------------------------------*/

@font-face {
	font-family: 'as-ui';
	src:url('../_fonts/as-ui.eot?7eow72');
	src:url('../_fonts/as-ui.eot?#iefix7eow72') format('embedded-opentype'),
		url('../_fonts/as-ui.woff?7eow72') format('woff'),
		url('../_fonts/as-ui.ttf?7eow72') format('truetype'),
		url('../_fonts/as-ui.svg?7eow72#as-ui') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="as-icon-"], [class*=" as-icon-"] {
	font-family: 'as-ui';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.as-icon-ui-search:before {
	content: "\30";
}
.as-icon-ui-cart:before {
	content: "\31";
}
.as-icon-ui-account:before {
	content: "\32";
}
.as-icon-instagram:before {
	content: "\34";
}
.as-icon-facebook:before {
	content: "\35";
}
.as-icon-pinterest:before {
	content: "\33";
}
.as-icon-shipping:before {
	content: "\36";
}
.as-icon-circle:before {
	content: "\37";
}
.as-icon-schedule:before {
	content: "\38";
}
.as-icon-location:before {
	content: "\39";
}
.as-icon-call:before {
	content: "\41";
}
.as-icon-write:before {
	content: "\42";
}
.as-icon-web:before {
	content: "\43";
}
.as-icon-twitter:before {
	content: "\44";
}
.as-icon-up:before {
	content: "\45";
}
.as-icon-update:before {
	content: "\46";
}
.as-icon-remove:before {
	content: "\47";
}

.mls {
	@extend .ir;
}

/*------------------------------------------------------------------
	@FONT FACE DECLARATIONS
-------------------------------------------------------------------*/

@font-face {
	font-family: 'VerlagBook';
	src: url('../_fonts/verlag-book.eot');
	src: url('../_fonts/verlag-book.eot') format('embedded-opentype'),
		 url('../_fonts/verlag-book.woff') format('woff'),
		 url('../_fonts/verlag-book.ttf') format('truetype'),
		 url('../_fonts/verlag-book.svg#VerlagBook') format('svg');
}

@font-face {
	font-family: 'VerlagLightItalic';
	src: url('../_fonts/verlag-lightitalic.eot');
	src: url('../_fonts/verlag-lightitalic.eot') format('embedded-opentype'),
		 url('../_fonts/verlag-lightitalic.woff') format('woff'),
		 url('../_fonts/verlag-lightitalic.ttf') format('truetype'),
		 url('../_fonts/verlag-lightitalic.svg#VerlagLightItalic') format('svg');
}

@font-face {
	font-family: 'VerlagBold';
	src: url('../_fonts/verlag-bold.eot');
	src: url('../_fonts/verlag-bold.eot') format('embedded-opentype'),
		 url('../_fonts/verlag-bold.woff') format('woff'),
		 url('../_fonts/verlag-bold.ttf') format('truetype'),
		 url('../_fonts/verlag-bold.svg#VerlagBold') format('svg');
}

@font-face {
	font-family: 'VerlagBlack';
	src: url('../_fonts/verlag-black.eot');
	src: url('../_fonts/verlag-black.eot') format('embedded-opentype'),
		 url('../_fonts/verlag-black.woff') format('woff'),
		 url('../_fonts/verlag-black.ttf') format('truetype'),
		 url('../_fonts/verlag-black.svg#VerlagBlack') format('svg');
}

@font-face {
	font-family: 'ArcherLightItalic';
	src: url('../_fonts/archer-lightital-pro.eot');
	src: url('../_fonts/archer-lightital-pro.eot') format('embedded-opentype'),
		 url('../_fonts/archer-lightital-pro.woff') format('woff'),
		 url('../_fonts/archer-lightital-pro.ttf') format('truetype'),
		 url('../_fonts/archer-lightital-pro.svg#ArcherLightItalic') format('svg');
}

@font-face {
	font-family: 'ArcherBook';
	src: url('../_fonts/archer-book-pro.eot');
	src: url('../_fonts/archer-book-pro.eot') format('embedded-opentype'),
		 url('../_fonts/archer-book-pro.woff') format('woff'),
		 url('../_fonts/archer-book-pro.ttf') format('truetype'),
		 url('../_fonts/archer-book-pro.svg#ArcherBook') format('svg');
}

@font-face {
	font-family: 'ArcherMedium';
	src: url('../_fonts/archer-medium-pro.eot');
	src: url('../_fonts/archer-medium-pro.eot') format('embedded-opentype'),
		 url('../_fonts/archer-medium-pro.woff') format('woff'),
		 url('../_fonts/archer-medium-pro.ttf') format('truetype'),
		 url('../_fonts/archer-medium-pro.svg#ArcherMedium') format('svg');
}

@font-face {
	font-family: 'ArcherMediumItalic';
	src: url('../_fonts/archer-mediumital-pro.eot');
	src: url('../_fonts/archer-mediumital-pro.eot') format('embedded-opentype'),
		 url('../_fonts/archer-mediumital-pro.woff') format('woff'),
		 url('../_fonts/archer-mediumital-pro.ttf') format('truetype'),
		 url('../_fonts/archer-mediumital-pro.svg#ArcherMediumItalic') format('svg');
}

@font-face {
	font-family: 'ArcherBold';
	src: url('../_fonts/archer-bold-pro.eot');
	src: url('../_fonts/archer-bold-pro.eot') format('embedded-opentype'),
		 url('../_fonts/archer-bold-pro.woff') format('woff'),
		 url('../_fonts/archer-bold-pro.ttf') format('truetype'),
		 url('../_fonts/archer-bold-pro.svg#ArcherBold') format('svg');
}

@font-face {
	font-family: 'ArcherBoldItalic';
	src: url('../_fonts/archer-boldital-pro.eot');
	src: url('../_fonts/archer-boldital-pro.eot') format('embedded-opentype'),
		 url('../_fonts/archer-boldital-pro.woff') format('woff'),
		 url('../_fonts/archer-boldital-pro.ttf') format('truetype'),
		 url('../_fonts/archer-boldital-pro.svg#ArcherBoldItalic') format('svg');
}

.archer-light-ital {
	font-family: "ArcherLightItalic", serif;
	font-weight: normal;
}

.archer-med {
	font-family: "ArcherMedium", serif;
	font-weight: normal;
}

.archer-med-ital {
	font-family: "ArcherLightItalic", serif;
	// font-family: "ArcherMediumItalic", serif;
	font-weight: normal;
}

.archer-bold-ital {
	font-family: "ArcherBoldItalic", serif;
	font-weight: normal;
}

.archer-bold {
	font-family: "ArcherBold", serif;
	font-weight: normal;
}

.archer-book {
	font-family: "ArcherBook", serif;
	font-weight: normal;
}

.verlag-book {
	font-family: "VerlagBook", sans-serif;
	font-weight: normal;
}

.verlag-light-ital {
	font-family: "VerlagLightItalic", sans-serif;
	font-weight: normal;
}

.verlag-bold {
	font-family: "VerlagBold", sans-serif;
	font-weight: normal;
}

.verlag-black {
	font-family: "VerlagBlack", Arial, sans-serif;
	font-weight: normal;
}