/*------------------------------------------------------------------
    GLOBAL
-------------------------------------------------------------------*/

img,
object {
	max-width: 100%;
}

a:link, a:visited {
	@include transition(color .25s);
}

a:hover, a:active {
	text-decoration: none;
}

.social-link {
	color: $lightgrey3;
	display: inline-block;
	font-size: 24px;
	font-size: 2.4rem;
	margin: 6px 0 0 10px;
	text-decoration: none;
	vertical-align: middle;

	&:hover,
	&:active {
		color: $red;
	}
}