/*------------------------------------------------------------------
    GLOBAL
-------------------------------------------------------------------*/

a:link, a:visited {
	@include transition(color .25s);
}

a:hover, a:active {
	text-decoration: none;
}