/*------------------------------------------------------------------
    LAYOUT
-------------------------------------------------------------------*/

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
 }

body {
	background: #FFF;
	-webkit-text-size-adjust: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body, html {
	height: 100% !important;
	width: 100%;
}

/*------------------------------------------------------------------
    RESPONSIVE CONTAINERS
-------------------------------------------------------------------*/

.main-container {
	width: 100%;
}

.container {
	height: auto;
	margin: 0 auto;
	max-width: $container-wide;
	padding: 10% 3%;
	position: relative;
	width: 100%;

	@include respond($med) {
		padding-top: 8%;
		padding-bottom: 8%;
	}
	@include respond($lrg) {
		padding-top: 4.5%;
		padding-bottom: 4.5%;
	}
	@include respond($xlrg) {
		padding-top: 5%;
		padding-bottom: 5%;
	}
}

.container--full {
	@extend .container;
	max-width: 100%;
	width: 100%;
}

.container--narrow {
	@extend .container;
	max-width: $container-narrow;
}

.container--wide {
	@extend .container;
	max-width: $container-wide;

	@include respond(1250px) {
		padding-left: 0;
		padding-right: 0;
	}
}