/*------------------------------------------------------------------
    TOUCH DEVICE SUPPORT
-------------------------------------------------------------------*/

.touch {

	.product-grid {
		.featured-product__add-to-cart {

		}
	}

	.recipes-jump__grid {
		figure {
			a:link,
			a:visited {
				figcaption {
					top: 0;

					h4 {
						@include opacity(1);
					}
				}
			}
		}
	}

}