/*------------------------------------------------------------------
	TYPE
-------------------------------------------------------------------*/

html {
	font: normal 62.5% "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
	line-height: 100%;
}

body {
	font-size: 14px; // IE7 & 8 support
	line-height: 22px; // IE7 & 8 support
	font-size: 1.4rem;
	line-height: 2.2rem;
}

/*------------------------------------------------------------------
	HEADLINES
-------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	@extend .archer-bold;
	font-weight: normal;
	font-style: normal;
}

h1 {

	color: $primary-copy;
	font-size: 42px;
	font-size: 4.2rem;

	&.page-title {
		line-height: 46px;
		line-height: 4.6rem;
		margin: 0 0 60px 0;
	}

	&.section__headline {
		@extend .archer-med-ital;
		font-size: 28px;
		font-size: 2.8rem;
		margin: 0 0 60px 0;
	}

	&.featured-products__headline {
		@extend .archer-med-ital;
		font-size: 30px;
		font-size: 3.0rem;
	}

	&.related-products__headline {
		@include border-light;
		@extend .verlag-book;
		font-size: 16px;
		font-size: 1.6rem;
		padding: 0 0 15px 0;
		text-transform: uppercase;
	}

	&.prodcut-details__product-name {
		color: $red;
		font-size: 30px;
		font-size: 3.0rem;
		line-height: 36px;
		line-height: 3.6rem;
		margin: 0 0 45px 0;
	}

}

h2 {

	font-size: 36px;
	font-size: 3.6rem;

}

h3 {

	font-size: 28px;
	font-size: 2.8rem;

	&.footer__sign-up__head {
		@extend .archer-med-ital;
		color: $red;
		font-size: 4.2rem;
		line-height: 4.4rem;
		margin: 0 0 70px 0;
	}

}

h4 {

	font-size: 24px;
	font-size: 2.4rem;

	&.related-recipes__headline {
		@extend .archer-book;
		color: $primary-copy;
		font-size: 18px;
		font-size: 1.8rem;
		margin: 0 0 10px 0;
	}

}

h5 {

	font-size: 18px;
	font-size: 1.8rem;

	&.footer__primary__contact__head {
		@extend .archer-bold-ital;
		color: $red;
		font-size: 24px;
		font-size: 2.4rem;
		line-height: 30px;
		line-height: 3.0rem;
	}

}

h6 {

	font-size: 16px;
	font-size: 1.6rem;

}

/*------------------------------------------------------------------
	PARAGRAPH STYLES
-------------------------------------------------------------------*/

p {
	@extend .archer-book;
	color: $primary-copy;
	font-size: 20px;
	font-size: 2.0rem;
	line-height: 25px;
	line-height: 2.5rem;

	&.featured-recipes__lead-copy {
		font-size: 22px;
		font-size: 2.2rem;
		line-height: 34px;
		line-height: 3.4rem;
	}
}

p {
	margin: 0 0 30px 0;
}

p.call-out {
	@extend .verlag-black;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 18px;
	line-height: 1.8rem;
	text-transform: uppercase;
}

/*------------------------------------------------------------------
	LIST STYLES
-------------------------------------------------------------------*/

ul li {}
ol li {}

/*------------------------------------------------------------------
	MISC
-------------------------------------------------------------------*/

small {}
sup {}
em {}
strong {}