/*------------------------------------------------------------------
    UTILITY
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
    UTILITY: Misc
-------------------------------------------------------------------*/

.imitate-table {
	display: table;
	height: 100%;
	margin: 0 auto;
	width: 100%;
}

.imitate-tablecell {
	display: table-cell;
	vertical-align: middle;
	width: auto;
}

.cf {
	zoom:1;

	&:before, &:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
	}

	&:after {
		clear: both;
	}
}

.ir {
	background-color: transparent;
	border: 0;
	font-size: 0px;
	overflow: hidden;
	text-indent: -9999px;
	text-indent: 100%;
	white-space: nowrap;
}

.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}