/*------------------------------------------------------------------
    Z-INDEX
-------------------------------------------------------------------*/

$header: 1001;
$shipping-banner: 1000;

/*------------------------------------------------------------------
    COLORS
-------------------------------------------------------------------*/

// Primary colors
$olive-green: #5C8727;
$peach: #FBAE4B;
$blue: #344976;
$purple: #662D63;
$pumpkin: #DD691D;
$yellow-green: #B9BC17;
$red: #D2232A; // 210,35,42

// Type colors
$primary-copy: #939598;
$primary-copy-dark: #262626;
$primary-subhead-dark: #4c4c4c;

// Footer colors
$footer-social-grey: #d0d4d7;
$pinterest-red: #d2232a;
$facebook-blue: #3b5999;
$instagram-blue: #306299;

// Needs to be updated, pulled from PDF
$lightgrey1: #e7e7e7;
$lightgrey2: #f4f8f6;