/*------------------------------------------------------------------
    Z-INDEX
-------------------------------------------------------------------*/

$z-header: 10000;
$z-shipping-banner: 1000;
$z-drop-down-nav: 1001;
$z-scroll-top: 1002;
$mobile-drop-nav: -1;
$recipe-figcaption: 900;
$search-form: -2;
$search-form-mobile: 10001;

/*------------------------------------------------------------------
    LAYOUT
-------------------------------------------------------------------*/

$container-narrow: 1000px;
$container-wide: 1200px;
$container-full: 1700px;
$gutter: 20px;
$store-location-meta: 800px;

/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/

$header-nav-break: 1025px;
$header-height-lrg: 167px;
$header-height-sm: 55px;
$header-container-context: 1200px;
$header-transition-speed: .75s;
$shipping-banner-height: 45px;

/*------------------------------------------------------------------
    COLORS
-------------------------------------------------------------------*/

// Primary colors
$olive-green: #5C8727;
$peach: #FBAE4B;
$blue: #344976;
$purple: #662D63;
$pumpkin: #DD691D;
$yellow-green: #B9BC17;
$brown: #9d6436;
$red: #D1232A;
$lightgrey: #ababab;
$lightgrey2: #F6F6F6;
$bordercolor: #ddd;

// Table and div colors
$cart-table-exterior: #d1d3d4;
$cart-table-interior: #f2f2f3;

// Type colors
$primary-copy: #77787b;
$primary-copy-light: #a7a9ac;
$primary-copy-dark: #262626;
$primary-subhead-dark: #4c4c4c;
$primary-headline: #939598;
$product-quantity: #77787b;
$secondary-nav: #bcbec0;

// Footer colors
$footer-social-grey: #d0d4d7;
$pinterest-red: #d2232a;
$facebook-blue: #3b5999;
$instagram-blue: #306299;

// Needs to be updated, pulled from PDF
$lightgrey1: #e7e7e7;
$lightgrey3: #d1d3d4;