/*------------------------------------------------------------------
    Z-INDEX
-------------------------------------------------------------------*/

$header: 1001;
$shipping-banner: 1000;
$recipe-figcaption: 900;

/*------------------------------------------------------------------
    LAYOUT
-------------------------------------------------------------------*/

$container-narrow: 1000px;
$container-wide: 1200px;
$container-full: 1700px;
$gutter: 20px;

/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/

$header-height-lrg: 170px;
$header-height-sm: 55px;
$header-container-context: 1200px;
$header-transition-speed: .5s;
$shipping-banner-height: 45px;

/*------------------------------------------------------------------
    COLORS
-------------------------------------------------------------------*/

// Primary colors
$olive-green: #5C8727;
$peach: #FBAE4B;
$blue: #344976;
$purple: #662D63;
$pumpkin: #DD691D;
$yellow-green: #B9BC17;
// $red: #D2232A; // 210,35,42
$red: #D1232A;

// Table and div colors
$cart-table-exterior: #d1d3d4;
$cart-table-interior: #f2f2f3;

// Type colors
$primary-copy: #77787b;
$primary-copy-light: #a7a9ac;
$primary-copy-dark: #262626;
$primary-subhead-dark: #4c4c4c;
$primary-headline: #939598;
$product-quantity: #77787b;

// e5e6e7

// Footer colors
$footer-social-grey: #d0d4d7;
$pinterest-red: #d2232a;
$facebook-blue: #3b5999;
$instagram-blue: #306299;

// Needs to be updated, pulled from PDF
$lightgrey1: #e7e7e7;
$lightgrey2: #f4f8f6;
$lightgrey3: #d1d3d4;