/*------------------------------------------------------------------
    MEDIA QUERIES
-------------------------------------------------------------------*/

$sml: 30.0em; // 480px
$med: 40.5em; // 648px
$lrg: 64.0em; // 1024px
$xlrg: 80.0em; // 1280px
$xxlrg: 92.0em; // 1472px

@mixin respond($media, $type: "min") {
	@if $media == "xs" {
		@media ($type+"-width": $break-xs) {
			@content;
		}
	}
	@else if $media == "sm" {
		@media ($type+"-width": $break-sm) {
			@content;
		}
	}
	@else if $media == "md" {
		@media ($type+"-width": $break-md) {
			@content;
		}
	}
	@else if $media == "lg" {
		@media ($type+"-width": $break-lg) {
			@content;
		}
	}
	@else {
		@media ($type+"-width": $media) {
			@content;
		}
	}
}

/*------------------------------------------------------------------
    VISIBILITY CLASSES
-------------------------------------------------------------------*/

.visible-sml {
	display: none;

	@include respond($sml) { display: block; }
	@include respond($med) { display: none; }
}

.visible-med {
	display: none;

	@include respond($med) { display: block; }
	@include respond($lrg) { display: none; }
}

.visible-lrg {
	display: none;

	@include respond($lrg) { display: block; }
	@include respond($xlrg) { display: none; }
}