/*------------------------------------------------------------------
    PAGE: About
-------------------------------------------------------------------*/

.page__about {

	.lead-copy {
		margin: 0 auto;
		text-align: center;
	}

	blockquote {
		p {
			@extend .archer-book;
			display: table-cell;
			font-size: 24px;
			font-size: 2.4rem;
			line-height: 30px;
			line-height: 3.0rem;
			vertical-align: middle;
		}

		@include respond($med) {
			p {
				font-size: 42px;
				font-size: 4.2rem;
				line-height: 54px;
				line-height: 5.4rem;
			}
		}
	}

	@include respond($med) {
		.lead-copy {
			max-width: 80%;
		}
	}
}

.about__intro {

	header {
		text-align: center;

		.about__page-title {
			@extend .archer-light-ital;
			color: $red;
			font-size: 24px;
			font-size: 2.4rem;
			line-height: 32px;
			line-height: 3.2rem;
			margin: 15px 0 30px 0;
			text-align: center;
		}
		.lead-copy {
			font-size: 18px;
			font-size: 1.8rem;
			line-height: 24px;
			line-height: 2.4rem;
			margin-bottom: 30px;
		}
	}

	.row {
		figure {
			img {
				margin: 120px 0 0 0;
				width: 100%;
			}
		}
	}

	.section-subhead--lrg {
		color: $blue;
	}

	blockquote {
		display: table;
		border-bottom: 5px solid $blue;
		border-top: 5px solid $blue;
		padding: 30px 30px 30px 0;
		text-align: left;

		p {
			color: $blue;
		}
	}

	@include respond($med, "min") {
		header {
			.about__page-title {
				font-size: 38px;
				font-size: 3.8rem;
				line-height: 50px;
				line-height: 5.0rem;
			}
			.lead-copy {
				font-size: 22px;
				font-size: 2.2rem;
				line-height: 40px;
				line-height: 4.0rem;
				margin-bottom: 45px;
				max-width: 100%;
			}
		}
		blockquote {
			padding: 60px 15px 60px 0;
		}
	}
	@include respond($lrg, "min") {
		blockquote {
			padding: 90px 90px 90px 0;
		}
	}
	@include respond($xlrg, "min") {
		blockquote {
			margin-left: 60px;
			margin-right: 60px;
		}
	}
}

.about__our-kitchen {

	h3 {
		@extend .section-subhead--lrg;
		color: $olive-green;
	}

	blockquote {
		display: table;
		border-bottom: 5px solid $olive-green;
		border-top: 5px solid $olive-green;
		padding: 15px 30px;
		text-align: center;
		width: 100%;

		p {
			color: $olive-green;
		}
	}

	@include respond($med) {

		section .row {
			@include columns(auto 2);

			p {
				padding-right: 2em;
			}
		}

		blockquote {
			margin-bottom: 30px;
			margin-top: 90px;
			padding: 30px 120px;
		}

	}

}

.about__fruits-and-farmers {

	h3 {
		@extend .section-subhead--lrg;
		color: $peach;
	}

	blockquote {
		border-top: 5px solid $peach;
		border-bottom: 5px solid $peach;
		margin: 60px 0 30px 0;
		padding: 30px 0;

		p {
			color: $peach;
		}
	}

	@include respond($med) {

		.row {
			.col-1-2 {
				padding-right: 30px;

				& + .col-1-2 {
					padding-right: 0;
					padding-left: 60px;
				}
			}
		}

		blockquote {
			margin: 0;
			padding: 75px 0;
		}
	}
}

.about__press {

	h3 {
		@extend .section-subhead--lrg;
		color: $red;
	}

	h5.press-list__head {
		margin: 0 0 60px 0;
		padding: 0 0 15px 0;

		a:link,
		a:visited {
			@extend .verlag-black;
			color: $primary-copy;
			display: block;
			float: right;
			font-size: 14px;
			font-size: 1.4rem;
			margin-right: 20px;
			text-decoration: none;

			&:hover,
			&:active {
				color: $blue;
			}
		}
	}

	.press-list {

		li {
			padding: 15px 0;
		}

		li .row .col-1-3 {
			display: table;
			min-height: 90px;

			figure {
				display: table-cell;
				vertical-align: middle;
			}

			@include respond($med) {
				padding-right: 30px;
				margin: 0;
				width: (1/3 * 100%);
			}
		}

		li .row .col-2-3 {
			border-bottom: 1px solid $bordercolor;
			display: table;
			min-height: 120px;
			padding-bottom: 30px;

			p {
				display: table-cell;
				vertical-align: middle;
			}

			@include respond($med) {
				margin: 0;
				width: (2/3 * 100%);
			}
		}

		li:last-child .row .col-2-3 {
			border-bottom: none;
		}

		p {
			margin-bottom: 0;
		}
	}
}

.about__family-business {

	h3 {
		@extend .section-subhead--lrg;
		color: $peach;
	}

}

.about__careers {

	h3 {
		@extend .section-subhead--lrg;
		color: $pumpkin;
	}

	.lead-copy {
		margin-bottom: 60px;
	}

	.careers-list {
		overflow: hidden;

		li {
			border: 1px solid $bordercolor;
			height: auto;
			margin: 0 0 30px 0;
			padding: 30px;
			width: 100%;

			h4 {
				color: $pumpkin;
				letter-spacing: 0.05em;
			}

			p {
				font-size: 14px;
				font-size: 1.4rem;
				line-height: 24px;
				line-height: 2.4rem;
				margin-bottom: 0;
			}
		}
	}

	.careers-cta {
		border: 1px solid $bordercolor;
		display: table;
		padding: 15px;
		text-align: center;
		width: 100%;

		p {
			display: table-cell;
			margin-bottom: 0;
			vertical-align: middle;
		}

		a:link,
		a:visited {
			@extend .archer-bold;
			color: $pumpkin;
			text-decoration: none;

			&:hover,
			&:active {
				color: $blue;
			}
		}
	}

	@include respond($med) {
		.careers-list {
			li {
				float: left;
				margin: 0 10px 20px 0;
				padding: 45px;
				width: calc((100% - 20px) / 2);

				&:nth-child(2n) {
					margin-right: 0;
					margin-left: 10px;
				}
			}
		}
	}
}