/*------------------------------------------------------------------
    PAGE: Cafe
-------------------------------------------------------------------*/

.cafe-header {
	text-align: center;

	h1.page-title {
		color: $red;
	}
}

.cafe-menu {
	border: 1px solid $bordercolor;
	margin: 0 0 45px 0;
	padding: 45px;

	.col-1-2 {
		padding-right: 120px;

		&:nth-child(2) {
			padding-left: 0;
		}
	}

	h4.module__subhead {
		@extend .verlag-bold;
		border-bottom: none;
		color: $red;
		letter-spacing: 0.09em;
		margin-bottom: 15px;
		padding-bottom: 0;
	}

	ul {

		li {
			margin: 0 0 15px 0;

			h6 {
				color: $primary-copy;
				margin: 0;

				span {
					display: inline-block;
					margin-left: 25px;
				}
			}
			p {
				@extend .verlag-book;
				color: $primary-headline;
				font-size: 13px;
				font-size: 1.3rem;
				line-height: 22px;
				line-height: 2.2rem;
				margin: 0;
			}
		}
	}
}

.cafe-reviews {

	ul {
		text-align: center;
		width: 100%;

		li {
			border-bottom: 1px solid $bordercolor;
			padding: 60px;

			&:first-of-type {
				padding-top: 0;
			}
			&:last-of-type {
				border-bottom: none;
			}

			p {
				@extend .archer-book;
				font-size: 22px;
				font-size: 2.2rem;
				line-height: 34px;
				line-height: 3.4rem;
			}

			h6 {
				@extend .module__subhead;
				@extend .verlag-bold;
				border-bottom: 0;
				color: $red;
				margin: 0;
				padding: 0;
				text-align: center;
			}
		}
	}
}