/*------------------------------------------------------------------
    PAGE: Cafe
-------------------------------------------------------------------*/

.cafe-header {
	text-align: center;

	.page-title {
		color: $red;
	}

	.cafe-header__intro {
		text-align: center;

		.cafe-header__graphic {
			display: block;

			span {
				img {
					display: block;
					margin: 0 auto 15px auto;
					max-width: 342px;
					width: 100%;
				}
			}
		}

		@include respond($lrg) {

			.cafe-header__graphic {
				display: table;
				float: left;
				min-height: 224px;
				width: (342px/1200px) * 100%;

				span {
					display: table-cell;
					vertical-align: middle;
				}
			}

			p {
				float: left;
				padding-left: 60px;
				text-align: left;
				width: (858px/1200px) * 100%;
			}
		}
	}
}

.cafe-menu {
	border: 1px solid $bordercolor;
	margin: 0 0 45px 0;
	padding: 15px;

	.col-1-2 {
		margin-bottom: 30px;

		&:nth-child(2) {
			padding-left: 0;
		}

		@include respond($med) {
			margin-bottom: 0;
			padding-right: 45px;
		}
		@include respond($lrg) {
			padding-right: 120px;
		}
	}

	h4.module__subhead {
		@extend .verlag-bold;
		border-bottom: none;
		color: $red;
		letter-spacing: 0.09em;
		margin-bottom: 15px;
		padding-bottom: 0;
	}

	ul {

		li {
			margin: 0 0 15px 0;

			h6 {
				color: $primary-copy;
				margin: 0;

				span {
					display: inline-block;
					margin-left: 15px;
				}
			}
			p {
				@extend .verlag-book;
				color: $primary-headline;
				font-size: 13px;
				font-size: 1.3rem;
				line-height: 22px;
				line-height: 2.2rem;
				margin: 0;
			}
		}
	}

	.cafe-menu__disclaimer {
		@extend .verlag-book;
		font-size: 12px;
		font-size: 1.2rem;
		letter-spacing: 0.08em;
		margin: 25px 0 0 0;
		text-align: center;
		text-transform: uppercase;
	}

	@include respond($med) {
		padding: 30px;
	}
	@include respond($lrg) {
		padding: 45px;
	}
}

.cafe-reviews {

	ul {
		text-align: center;
		width: 100%;

		li {
			border-bottom: 1px solid $bordercolor;
			padding: 15px;
			padding-bottom: 45px;
			margin-bottom: 30px;

			&:first-of-type {
				padding-top: 0;
			}
			&:last-of-type {
				border-bottom: none;
			}

			p {
				@extend .archer-book;
				font-size: 22px;
				font-size: 2.2rem;
				line-height: 34px;
				line-height: 3.4rem;
			}

			h6 {
				@extend .module__subhead;
				@extend .verlag-bold;
				border-bottom: 0;
				color: $red;
				margin: 0;
				padding: 0;
				text-align: center;
			}

			@include respond($med) {
				margin-bottom: 0;
				padding: 60px;
			}
		}
	}
}