/*------------------------------------------------------------------
    PAGE: Shopping Cart / Cart items
-------------------------------------------------------------------*/

.page__cart {
	.container--wide {
		max-width: 1202px;
	}
}

.cart__items {
	padding: 0 0 60px 0;
}

// Mobile stacked table
.st-head-row.st-head-row-main {
	display: none;
}

.stacktable {

	a.cart__remove-btn:link,
	a.cart__remove-btn:visited {
		color: rgba(0,0,0,.3);
		display: inline-block;
		font-size: 40px;
		font-size: 4.0rem;
		text-decoration: none;
		vertical-align: middle;

		&:hover,
		&:active {
			color: $red;
		}
	}
}

.stacktable.small-only {
	margin: 0 0 45px 0;

	th, td {
		vertical-align: middle;
	}

	td {
		border: 1px solid $cart-table-interior;
		color: $primary-copy-light;
		padding: 6px 12px;
	}

	figure {
		display: block;
		padding: 30px 0 0 0;
		text-align: center;
		width: 100%;

		img {
			margin: 15px auto 15px auto;
			max-width: 145px;
			width: 100%;
		}
	}

	figcaption.product-name {
		@extend .archer-med;
		color: $red;
		font-size: 28px;
		font-size: 2.8rem;
		line-height: 32px;
		line-height: 3.2rem;
		margin: 15px 0;
		text-align: center;
		text-decoration: none;
		vertical-align: middle;
	}

	.st-head-row {
		padding: 15px;
		text-align: center;

		a:link,
		a:visited {
			display: block;
			text-decoration: none;
		}
	}

	.st-key {
		@extend .verlag-book;
		background-color: $cart-table-interior;
		color: $primary-copy-light;
		height: 35px;
		font-size: 15px;
		font-size: 1.5rem;
		letter-spacing: 0.06em;
		text-align: right;
		text-transform: uppercase;
		width: 40%;
	}

	.st-val {
		@extend .archer-med;
		color: $primary-copy-light;
		font-size: 22px;
		font-size: 2.2rem;
		line-height: 35px;
		line-height: 3.5rem;
		width: 60%;
	}

	a.cart__remove-btn:link,
	a.cart__remove-btn:visited {
		height: 30px;
		font-size: 28px;
		font-size: 2.8rem;
		margin: 0;
	}

}

// Desktop table
.cart__items__table {
	border-spacing: 0;
	border: 1px solid $bordercolor;
	margin: 0 0 30px 0;
	width: 100%;

	th, td {
		vertical-align: middle;
	}

	// Table headers

	th {
		@extend .verlag-book;
		background-color: $cart-table-interior;
		color: $primary-copy-light;
		height: 55px;
		font-size: 17px;
		font-size: 1.7rem;
		letter-spacing: 0.06em;
		text-align: center;
		text-transform: uppercase;
	}

	th.items__table-th__product-name {
		width: 616px / 1200px * 100%;
	}
	th.items__table-th__price {
		width: 146px / 1200px * 100%;
	}
	th.items__table-th__quantity {
		width: 146px / 1200px * 100%;
	}
	th.items__table-th__subtotal {
		width: 146px / 1200px * 100%;
	}
	th.items__table-th__remove {
		width: 146px / 1200px * 100%;
	}

	// Table products

	tbody {
		tr:first-child {
			td {
				border-top: none;
			}
		}
		tr {
			td:last-child {
				border-right: 1px solid $bordercolor;
			}
		}
		tr:last-child {
			td {
				border-bottom: 1px solid $bordercolor;
			}
		}
	}

	td {
		border-right: 1px solid $cart-table-interior;
		border-bottom: 1px solid $cart-table-interior;
		height: 150px;
		text-align: center;
	}
	.items__table__meta {
		@extend .archer-med;
		color: $primary-copy-light;
		font-size: 28px;
		font-size: 2.8rem;
	}

	.items__table-td__product-name {
		padding-right: 15px;
		padding-left: 45px;
		text-align: left;

		a:link,
		a:visited {
			@extend .archer-med;
			color: $red;
			display: table;
			font-size: 20px;
			font-size: 2.0rem;
			text-decoration: none;
			vertical-align: middle;
		}
		a:hover,
		a:active {
			color: $blue;
		}

		figure {
			display: table-cell;
			vertical-align: middle;

			img {
				max-width: 90px;
				margin: 15px 30px 15px 0;
				width: 100%;
			}
		}
		figcaption {
			display: table-cell;
			vertical-align: middle;
		}

	}
	.items__table-td__price {
		@extend .items__table__meta;
	}
	.items__table-td__quantity {
		@extend .items__table__meta;
	}
	.items__table-td__subtotal {
		@extend .items__table__meta;
	}
	.items__table-td__remove {
		@extend .items__table__meta;
	}

}

.cart__options {
	a.cart__utility__continue:link,
	a.cart__utility__continue:visited {
		float: left;
		display: inline-block;
	}
	a.cart__utility__update:link,
	a.cart__utility__update:visited {
		float: right;
		display: inline-block;
	}
}

.cart__gift-box {
	text-align: center;

	p {
		display: inline-block;
		text-align: center;
		vertical-align: middle;
	}
	.icon-ui-icon__gift-box {
		display: inline-block;
		vertical-align: middle;
		margin: -35px 5px 0 0;
	}
}

a.cart__utility__continue:link,
a.cart__utility__continue:visited,
a.cart__utility__update:link,
a.cart__utility__update:visited {
	display: block;
	// line-height: 34px;
	// line-height: 3.4rem;

	span {
		display: inline-block;
		vertical-align: middle;
	}

	@include respond($med) {
		float: left;
	}
}

a.cart__utility__update:link,
a.cart__utility__update:visited {

	span:first-child {
		font-size: 24px;
		font-size: 2.4rem;
		margin-top: -3px;
	}

	@include respond($med) {
		float: right;
	}
}

/*------------------------------------------------------------------
    PAGE: Shopping Cart / Promo & GC inputs
-------------------------------------------------------------------*/

.cart__codes {
	padding: 0 0 60px 0;

	.col-1-2 {
		float: none;
		padding: 0;
		width: 100%;

		@include respond($lrg) {
			float: left;
			margin: 0;
			padding: 0 10px 0 0;
			width: (1/2) * 100%;
		}
	}
	.col-1-2 + .col-1-2 {
		@include respond($lrg) {
			padding: 0 0 0 10px;
		}
	}
}

.cart__promo-code,
.cart__promo-gc {
	border: 1px solid $bordercolor;
	margin: 0 0 30px 0;
	padding: 30px;

	input[type="text"] {
		display: inline-block;
	}

	@include respond($lrg) {
		margin: 0;
		padding: 45px;
	}
}

.cart__promo-code {

	$parent-width: 499px;
	float: none;
	width: 100%;

	input[type="text"] {
		width: 100%;
	}

	a.ui-link:link,
	a.ui-link:visited {
		display: block;
		margin: 12px 0 0 0;
	}

	@include respond($lrg) {
		a.ui-link:link,
		a.ui-link:visited {
			display: inline-block;
			margin: 0 0 0 15px;
		}
		input[type="text"] {
			width: (290px/$parent-width) * 100%;
		}
	}
}

.cart__promo-gc {

	$parent-width: 499px;
	float: none;
	width: 100%;

	fieldset {
		vertical-align: middle;
	}

	.cart__promo-gc__code {
		display: inline-block;
		width: (300px/$parent-width) * 100%;
	}

	.cart__promo-gc__amt {
		display: inline-block;
		width: (136px/$parent-width) * 100%;
	}

	.cart__promo-gc__dollar {
		@extend .archer-med;
		color: $primary-copy-light;
		display: inline-block;
		font-size: 42px;
		font-size: 4.2rem;
		margin: 0 0 6px 0;
		text-align: right;
		vertical-align: middle;
		width: (55px/$parent-width) * 100%;
	}

	a {
		clear: both;
		display: block;
		vertical-align: middle;
		width: 100%;
	}

	@include respond(480px) {
		.cart__promo-gc__code {
			width: (180px/$parent-width) * 100%;
		}
		.cart__promo-gc__amt {
			width: (136px/$parent-width) * 100%;
		}
		.cart__promo-gc__dollar {
			width: (55px/$parent-width) * 100%;
		}
		a {
			clear: none;
			display: inline-block;
			margin: 0 0 0 15px;
			width: auto;
		}
	}
}

/*------------------------------------------------------------------
    PAGE: Shopping Cart / Grand total and proceed
-------------------------------------------------------------------*/

.cart__total {
	border: 1px solid $bordercolor;
}

.cart__total-amt,
.cart__total-proceed {

	padding: 15px;

	@include respond($med) {
		padding: 45px;
	}
}

.cart__total-amt {
	display: table;
	height: 100%;
	min-height: 100px;
	padding: 30px;
	text-align: center;
	width: 100%;

	p {
		color: $red;
		display: table-cell;
		font-size: 36px;
		font-size: 3.6rem;
		line-height: 42px;
		line-height: 4.2rem;
		vertical-align: middle;
	}

	@include respond($med) {
		min-height: 230px;
		padding: 0;

		p {
			font-size: 48px;
			font-size: 4.8rem;
			line-height: 56px;
			line-height: 5.6rem;
		}
	}
}

.cart__total-proceed {

	a.btn:link span,
	a.btn:visited span {
		font-size: 13px;
		font-size: 1.3rem;
	}
	a:last-child.btn:link,
	a:last-child.btn:visited {
		margin-bottom: 0;
	}

}