/*------------------------------------------------------------------
    PAGE: Catalog Request
-------------------------------------------------------------------*/

.catalog-request__cover {
	margin: 0 0 15px 0;
	text-align: center;

	img {
		margin: 0 auto;
		max-width: 387px;
		width: 100%;
	}
}

.catalog-request__share {
	display: block;
	margin-top: 30px;
	text-align: center;
	width: 100%;
}

/*------------------------------------------------------------------
    PAGE: Catalog Request / Form
-------------------------------------------------------------------*/

.catalog-request__form {
	@include respond($med) {
		padding-left: 60px;
	}
}