/*------------------------------------------------------------------
    PAGE: Home / Mantle
-------------------------------------------------------------------*/

.home-mantle {
	height: auto;

	.bx-pager {
		@include respond($med, "max") {			
			display: none !important;
		}
	}

	.bx-wrapper .bx-controls-direction a {
		display: block;
		height: 30px;
		width: 26px;

		@include respond(600px) {
			height: 60px;
		}

		&:hover,
		&:active {
			background-position: 50% 50%;
		}
	}

	.bx-wrapper .bx-prev {
		background: url('../_img/ui-mantle-arrow--previous.svg') no-repeat 50% 50%;
		left: 4%;
	}

	.bx-wrapper .bx-next {
		background: url('../_img/ui-mantle-arrow--next.svg') no-repeat 50% 50%;
		right: 4%;
	}

	ul {
		@extend .cf;

		li {
			@include transition(opacity .5s);
			@include opacity(.2);
			position: relative;

			.home-mantle__copy-wrapper {
				@include text-shadow(rgba(0,0,0,.7) 0px 0px 14px 8px);
				position: absolute;
				padding: 15px 11% 0 11%;
				color: #FFF;
				text-align: center;
				
				@include respond(340px) {
					padding: 20px 12% 0 12%;
				}	
				@include respond(420px) {
					padding: 30px 12% 0 12%;
				}				
				@include respond(440px) {
					padding: 45px 12% 0 12%;
				}
				@include respond(700px) {
					padding: 75px 14% 0 14%;
				}
				@include respond(800px) {
					padding: 90px 10% 0 10%;
				}
				@include respond(820px) {
					padding: 120px 10% 0 10%;
				}
				@include respond(980px) {
					padding: 185px 10% 0 10%;
				}

				h3 {
					@extend .archer-bold-ital;
					margin: 0 0 5px 0;
					font-size: 20px;
					font-size: 2rem;
					line-height: 28px;
					line-height: 2.8rem;

					@include respond(370px) {
						font-size: 325px;
						font-size: 2.5rem;
						line-height: 30px;
						line-height: 3rem;
					}
					@include respond(420px) {
						font-size: 30px;
						font-size: 3rem;
						line-height: 38px;
						line-height: 3.8rem;
					}
					@include respond(520px) {
						font-size: 40px;
						font-size: 4rem;
						line-height: 48px;
						line-height: 4.8rem;
					}
					@include respond(820px) {
						font-size: 60px;
						font-size: 6rem;
						line-height: 68px;
						line-height: 6.8rem;
					}
				}

				p {
					@extend .archer-med;
					font-size: 16px;
					font-size: 1.6rem;
					line-height: 16px;
					line-height: 1.6rem;
					margin-bottom: 5px;
					color: #FFF;

					@include respond(370px) {
						font-size: 18px;
						font-size: 1.8rem;
						line-height: 20px;
						line-height: 2rem;
					}
					@include respond(400px) {
						margin-bottom: 15px;
					}
					@include respond(500px) {
						font-size: 20px;
						font-size: 2rem;
						line-height: 25px;
						line-height: 2.5rem;
						margin-bottom: 20px;
					}
					@include respond(600px) {
						font-size: 22px;
						font-size: 2.2rem;
						line-height: 30px;
						line-height: 3rem;
						margin-bottom: 30px;
					}
					@include respond(850px) {
						font-size: 25px;
						font-size: 2.5rem;
						line-height: 34px;
						line-height: 3.4rem;
					}
				}

				a.btn:link,
				a.btn:visited {
					margin: 0 auto;
				}

				@include respond(599px, "max") {
					a.btn:link,
					a.btn:visited {
						border: none;
						padding: 0 5px 0 5px;
						height: 30px;
					}
				}
			}
		}

		li.active {
			@include opacity(1);
		}
	}

	img {
		width: 100%;
	}

	@include respond(932px) {
		min-height: 500px;
	}
}

/*------------------------------------------------------------------
    PAGE: Home / Featured Products
-------------------------------------------------------------------*/

.featured-products__header {
	@extend .cf;
	border-bottom: 1px solid $bordercolor;
	padding: 0 0 25px 0;

	a.featured-products__shop-link:link,
	a.featured-products__shop-link:visited {
		@extend .verlag-black;
		color: $primary-copy;
		display: block;
		font-size: 12px;
		font-size: 1.2rem;
		letter-spacing: 0.05em;
		margin: 0 0 0 0;
		text-transform: uppercase;
		text-decoration: none;

		@include respond($med) {
			margin: 18px 0 0 0;
		}

		&:hover, &:active {
			color: $red;
		}
	}

	h1 {
		line-height: 40px;
		line-height: 4rem;
		font-size: 40px;
		font-size: 4rem;
	}

	@include respond($med) {
		padding: 0 30px 0 5px;
		margin-bottom: 45px;

		h1 {
			float: left;
			line-height: 50px;
			line-height: 5rem;
		}
		a:link, a:visited {
			float: right;
		}
	}
}

.featured-products__grid {
	@extend .product-grid;
	margin-bottom: 60px;
	padding-top: 30px;

	@include respond($med) {
		padding-top: 0;
	}

	/*fourth and above*/
	ul {
		li:nth-child(n+4) {
			display: none;
			@include respond($med) {
				display: list-item;
			}
		}
	}

	/*fifth and above*/
	ul {
		li:nth-child(n+5) {
			@include respond($med) {
				display: none;
			}
			@include respond(790px) {
				display: list-item;
			}
		}
	}

	/*seventh and above*/
	ul {
		li:nth-child(n+7) {
			@include respond(790px) {
				display: none;
			}
			@include respond($lrg) {
				display: list-item;
			}
		}
	}

}

/*------------------------------------------------------------------
    PAGE: Home / Featured Recipes
-------------------------------------------------------------------*/

.featured-recipes {
	background-color: $lightgrey2;
	position: relative;
	text-align: center;

	a.btn:link, a.btn:visited {
		margin-left: auto;
		margin-right: auto;
		margin-top: 45px;
	}

	@include respond($lrg) {
		&:before {
			background: url('../_img/as_illustration_01.png') no-repeat 0px 0px;
			content: "";
			display: block;
			height: 242px;
			left: 0;
			position: absolute;
			top: -90px;
			width: 294px;
			z-index: 1;
		}
	}
}

.featured-recipes__header {
	padding-top: 15px;

	h3 {
		color: $blue;
	}
	p.lead-copy {
		margin: 0 auto;

		@include respond($med) {
			max-width: 65%;
		}
	}
}

.featured-recipes__grid {
	@extend .recipes-grid;
	margin: 60px 0 0 0;
}

/*------------------------------------------------------------------
    PAGE: Home / Featured modules a.k.a "Wish You Were Here"
-------------------------------------------------------------------*/

.featured-modules {
	position: relative;

	h3 {
		margin-bottom: 45px;
	}

	.featured-module {
		margin: 0 8px 0 0;

		img {
			border: 1px solid $bordercolor;
			width: 100%;

			@include respond($med) {
				max-width: 100%
			}
			@include respond($xlrg) {
				max-width: 366px;
			}
		}

		figure {
			text-align: center;
		}

		figcaption {
			margin-top: 15px;
			margin-left: auto;
			margin-right: auto;
			max-width: 364px;
			padding-top: 1px;

			p {
				@extend .archer-light-ital;
				font-size: 16px;
				font-size: 1.6rem;
				font-weight: bold;
				line-height: 20px;
				line-height: 2rem;
				margin: 4px 0 0 0;
			}

			.as-icon-laptop {
				background-position: 38% 38%;
				background-size: 30px;
				height: 50px;
				width: 50px;
			}
			.as-icon-location {}
			.as-icon-instagram {}
			.icon-container {
				border-radius: 50%;
				border: 2px solid $bordercolor;
				color: $bordercolor;
				float: left;
				font-size: 22px;
				font-size: 2.2rem;
				height: 50px;
				line-height: 50px;
				line-height: 5rem;
				margin: 0 15px 0 0;
				text-align: center;
				width: 50px;
			}
			.ui-link {
				color: #939597;
				font-size: 11px;
				font-size: 1.1rem;

				&:hover,
				&:active {
					color: $blue;
				}
			}
		}

		@include respond(1250px) {
			text-align: left;
		}
	}

	.container--wide {
		padding-bottom: 6%;
	}

	.container--wide .col-1-3:nth-child(1n + 2) {
		margin-top: 45px;
		@include respond ($med) {
			margin-top: 0;
		}
	}

	@include respond($lrg) {
		&:before {
			@include scale(.9);
			background: url('../_img/as_illustration_02.png') no-repeat right top;
			content: "";
			display: block;
			height: 287px;
			right: 0;
			position: absolute;
			top: -165px;
			width: 294px;
			z-index: 1;
		}
	}
	@include respond($xlrg) {
		&:before {
			@include scale(.95);
		}
	}
}