/*------------------------------------------------------------------
    PAGE: Home / Mantle
-------------------------------------------------------------------*/

.home-mantle {
	height: auto;
	padding-top: $header-height-lrg + $shipping-banner-height;

	img {
		width: 100%;
	}
}

/*------------------------------------------------------------------
    PAGE: Home / Featured Products
-------------------------------------------------------------------*/

.featured-products {
	@include respond($med) {
		padding: 4.333333333% 0 0 0;
	}
}

.featured-products__header {
	@extend .cf;
	border-bottom: 2px solid $lightgrey1;
	padding: 0 30px 25px 30px;

	a.featured-products__shop-link:link,
	a.featured-products__shop-link:visited {
		@extend .verlag-black;
		color: $primary-copy;
		display: block;
		font-size: 12px;
		font-size: 1.2rem;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		text-decoration: none;

		&:hover, &:active {
			color: $red;
		}
	}

	@include respond($med) {

		h1 {
			float: left;
		}
		a:link, a:visited {
			float: right;
		}

	}
}

.featured-products__grid {

	@extend .product-grid;

	ul {
		padding-top: 30px;
	}

	ul > li {
		margin: 30px 0 15px 0;
	}

}

/*------------------------------------------------------------------
    PAGE: Home / Featured Recipes
-------------------------------------------------------------------*/

.featured-recipes {
	background-color: $lightgrey2;
}

.featured-recipes__header {

	.featured-recipes__rule {
		background: url('../_img/as_icon_FPO_fork-knife.jpg') no-repeat 50% 50% transparent;
		border: none;
		height: 70px;
		margin: 45px auto 45px auto;
		position: relative;
		width: 100%;

		&:before, &:after {
			border-bottom: 2px solid $footer-social-grey;
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			width: 45%;
		}
		&:before {
			left: 0;
		}
		&:after {
			right: 0;
		}
	}

	a.btn:link, a.btn:visited {
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;
	}

	h1 {
		@extend .archer-med-ital;
		color: $olive-green;
		font-size: 30px;
		font-size: 3.0rem;
		line-height: 34px;
		line-height: 3.4rem;
		text-align: center;
		margin: 0 0 60px 0;
	}
}

.featured-recipes__grid {

	margin: 60px 0 0 0;

	ul {
		overflow: hidden;
	}

	ul > li {
		float: left;
		margin-bottom: 20px;
		min-height: 496px;
	}

	ul > li:nth-child(1) {

	}
	ul > li:nth-child(2) {

	}
	ul > li:nth-child(3) {

	}
	ul > li:nth-child(4) {

	}

	img {
		width: 100%;
	}

}