/*------------------------------------------------------------------
    PAGE: Home
-------------------------------------------------------------------*/

.page-home {

	a.shipping-banner--link:link,
	a.shipping-banner--link:visited {
		display: none;
	}

	#main {
		@include respond($header-nav-break) {
			margin-top: 212px - $shipping-banner-height;
		}
	}
}

/*------------------------------------------------------------------
    PAGE: Home / Mantle
-------------------------------------------------------------------*/

$home-mantle-height: 700px;
$home-mantle-break-one: $med;
$home-mantle-break-two: $lrg;

.home-mantle {
	background-color: #efefef;
	width: 100%;
}

.home-mantle__wrapper {
	@extend .row;
	height: auto;
	margin: 0 auto;
	max-width: 1700px;

	img {
		display: block;
	}
}

.home-mantle__featured {
	@include background-size(cover);
	overflow: hidden;
	position: relative;

	.mantle-feature-bgd {
		display: none;

		@include respond($home-mantle-break-two) {
			display: block;
		}
	}

	img {
		width: 100%;
	}

	.mantle-feature-copy {
		height: 100%;
		margin: 0 auto;
		// max-width: 510px;
		padding: 45px 3%;
		position: relative;
		text-align: center;

		@include respond($home-mantle-break-one) {
			padding: 60px 3%;
		}
		@include respond($home-mantle-break-two) {
			left: 50%;
			margin-left: -(510px/2);
			max-width: 510px;
			padding: 0;
			position: absolute;
			text-align: left;
		}
	}

	h3 {
		@include text-shadow(rgba(0,0,0,.35) 2px 2px 6px);
		@extend .verlag-black;
		color: #FFF;
		font-size: 47px;
		font-size: 4.7rem;
		line-height: 50px;
		line-height: 5.0rem;
		margin-bottom: 15px;
		text-transform: uppercase;

		@include respond($home-mantle-break-two) {
			font-size: 52px;
			font-size: 5.2rem;
			line-height: 60px;
			line-height: 6.0rem;
			text-align: left;
		}
		@include respond(1300px) {
			font-size: 66px;
			font-size: 6.6rem;
			line-height: 72px;
			line-height: 7.2rem;
			text-align: left;
		}
	}

	p {
		@include text-shadow(rgba(0,0,0,.5) 2px 2px 3px);
		@extend .archer-med;
		color: #FFF;
		font-size: 18px;
		font-size: 1.8rem;
		line-height: 24px;
		line-height: 2.4rem;

		@include respond($home-mantle-break-one) {
			font-size: 24px;
			font-size: 2.4rem;
			line-height: 32px;
			line-height: 3.2rem;
		}
	}

	a.btn:link,
	a.btn:visited {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;

		@include respond($home-mantle-break-two) {
			margin-left: 0;
			margin-right: 0;
		}
	}

	@include respond($home-mantle-break-one) {
		width: 100%;
	}
	@include respond($home-mantle-break-two) {
		float: left;
		width: (2/3) * 100%;
	}
}

.home-mantle__secondary {
	@extend .row;

	.secondary__module {
		overflow: hidden;
		position: relative;
		width: 100%;

		img {
			margin: 0 auto;
			width: 100%;
		}

		@include respond($home-mantle-break-one) {
			float: left;
			width: (1/2) * 100%;
		}
		@include respond($home-mantle-break-two) {
			float: none;
			width: 100%;
		}
	}

	.secondary__top {
		@extend .secondary__module;
	}
	.secondary__btm {
		@extend .secondary__module;
	}

	@include respond($home-mantle-break-one) {
		width: 100%;
	}
	@include respond($home-mantle-break-two) {
		float: left;
		width: (1/3) * 100%;
	}
}

/*------------------------------------------------------------------
    PAGE: Home / Featured Products
-------------------------------------------------------------------*/

.featured-products__header {
	@extend .cf;
	padding: 35px 0 15px 0;
	text-align: center;

	a.featured-products__shop-link:link,
	a.featured-products__shop-link:visited {
		@extend .verlag-black;
		color: $primary-copy;
		display: none;
		font-size: 12px;
		font-size: 1.2rem;
		letter-spacing: 0.05em;
		margin: 0;
		text-transform: uppercase;
		text-decoration: none;

		&:hover, &:active {
			color: $red;
		}

		@include respond($lrg) {
			display: block;
		}
	}

	h1.featured-products__headline {
		border-bottom: 1px solid $bordercolor;
		color: $red;
		display: inline-block;
		font-size: 40px;
		font-size: 4rem;
		line-height: 40px;
		line-height: 4rem;
		margin: 0 auto;
		padding-bottom: 15px;
		text-align: center;
		width: auto;

		@include respond($lrg) {
			border-bottom: none;
			padding-bottom: 0;
		}
		@include respond($xlrg) {
			text-align: left;
		}
	}

	@include respond($med) {
		padding: 15px 0 30px 0;
	}

	@include respond($lrg) {
		border-bottom: 1px solid $bordercolor;
		margin-bottom: 45px;
		padding: 30px 30px 0 5px;
		text-align: left;

		h1 {
			float: left;
			line-height: 50px;
			line-height: 5rem;
		}

		a:link, a:visited {
			float: right;
		}
	}
	@include respond($xlrg) {
		padding-top: 0;
	}
}

.featured-products__grid {
	@extend %product-grid;
	margin-bottom: 60px;
	padding-top: 30px;

	@include respond($med) {
		padding-top: 0;
	}

	/*fourth and above*/
	ul {
		li:nth-child(n+4) {
			display: none;
			@include respond($med) {
				display: list-item;
			}
		}
	}

	/*fifth and above*/
	ul {
		li:nth-child(n+5) {
			@include respond($med) {
				display: none;
			}
			@include respond(790px) {
				display: list-item;
			}
		}
	}

	/*seventh and above*/
	ul {
		li:nth-child(n+7) {
			@include respond(790px) {
				display: none;
			}
			@include respond($lrg) {
				display: list-item;
			}
		}
	}

}

/*------------------------------------------------------------------
    PAGE: Home / Featured Recipes
-------------------------------------------------------------------*/

.featured-recipes {
	background-color: $lightgrey2;
	position: relative;
	text-align: center;

	a.btn:link, a.btn:visited {
		margin-left: auto;
		margin-right: auto;
		margin-top: 45px;
	}

	@include respond($lrg) {
		&:before {
			background: url('../_img/as_illustration_01.png') no-repeat 0px 0px;
			content: "";
			display: block;
			height: 242px;
			left: 0;
			position: absolute;
			top: -90px;
			width: 294px;
			z-index: 1;
		}
	}
}

.featured-recipes__header {
	padding-top: 15px;

	h3 {
		color: $blue;
	}
	p.lead-copy {
		margin: 0 auto;

		@include respond($med) {
			max-width: 65%;
		}
	}
}

.featured-recipes__grid {
	@extend .recipes-grid;
	margin: 60px 0 0 0;
}

/*------------------------------------------------------------------
    PAGE: Home / Featured modules a.k.a "Wish You Were Here"
-------------------------------------------------------------------*/

.featured-modules {
	position: relative;

	h3 {
		color: $olive-green;
		margin-bottom: 45px;
	}

	.featured-module {
		margin: 0 8px 0 0;

		img {
			border: 1px solid $bordercolor;
			width: 100%;

			@include respond($med) {
				max-width: 100%
			}
			@include respond($xlrg) {
				max-width: 366px;
			}
		}

		figure {
			text-align: center;
		}

		figcaption {
			margin-top: 15px;
			margin-left: auto;
			margin-right: auto;
			max-width: 364px;
			padding-top: 1px;

			p {
				@extend .archer-light-ital;
				font-size: 16px;
				font-size: 1.6rem;
				font-weight: bold;
				line-height: 20px;
				line-height: 2rem;
				margin: 4px 0 0 0;
			}

			.as-icon-laptop {
				background-position: 38% 38%;
				background-size: 30px;
				height: 50px;
				width: 50px;
			}
			.as-icon-location {}
			.as-icon-instagram {}
			.icon-container {
				border-radius: 50%;
				border: 2px solid $bordercolor;
				color: $bordercolor;
				float: left;
				font-size: 22px;
				font-size: 2.2rem;
				height: 50px;
				line-height: 50px;
				line-height: 5rem;
				margin: 0 15px 0 0;
				text-align: center;
				width: 50px;
			}
			.ui-link {
				color: #939597;
				font-size: 11px;
				font-size: 1.1rem;

				&:hover,
				&:active {
					color: $blue;
				}
			}
		}

		@include respond(1250px) {
			text-align: left;
		}
	}

	.container--wide {
		padding-bottom: 6%;
	}

	.container--wide .col-1-3:nth-child(1n + 2) {
		margin-top: 45px;
		@include respond ($med) {
			margin-top: 0;
		}
	}

	@include respond($lrg) {
		&:before {
			@include scale(.9);
			background: url('../_img/as_illustration_02.png') no-repeat right top;
			content: "";
			display: block;
			height: 287px;
			right: 0;
			position: absolute;
			top: -165px;
			width: 294px;
			z-index: 1;
		}
	}
	@include respond($xlrg) {
		&:before {
			@include scale(.95);
		}
	}
}