/*------------------------------------------------------------------
    PAGE: Login
-------------------------------------------------------------------*/

.login__current-user,
.login__create-acct {
	border: 1px solid $bordercolor;
	margin: 0 0 30px 0;
	padding: 30px;

	form {
		display: none;
	}

	a.btn--box:link,
	a.btn--box:visited {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	@include respond($med) {
		margin: 0;
		padding: 45px;

		a.btn--box:link,
		a.btn--box:visited {
			padding: 60px;
		}
	}
}

.login__current-user {

	a.login__forgot-password:link,
	a.login__forgot-password:visited {
		@extend .verlag-book;
		color: $red;
		display: block;
		font-size: 14px;
		font-size: 1.4rem;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;

		&:hover,
		&:active {
			color: $primary-copy;
		}
	}
}