/*------------------------------------------------------------------
    PAGE: Product
-------------------------------------------------------------------*/

.product-single {
	.main-container {
		padding-top: $header-height-lrg + $shipping-banner-height + 4px;
	}
}

.product-wrapper {
	padding: 60px 0 90px 0;
}

.product-details {}

.product-photos {

	figure {
		text-align: center;
	}

	figure img {
		margin: 0 auto;
	}

}

/*------------------------------------------------------------------
    PAGE: Product / Related products
-------------------------------------------------------------------*/

.related-products {

	@extend .product-grid;

	ul > li {
		margin: 30px 0;
	}

}
