/*------------------------------------------------------------------
    PAGE: Shop
-------------------------------------------------------------------*/

header.shop__header {
	background-image: url('../_img/as_shop_illustration01.jpg');
	background-repeat: no-repeat;
	background-position: 0 -45px;
	border-bottom: 1px solid $bordercolor;
	@include background-size(60%);

	text-align: center;

	h1.page-title {
		color: $blue;
		margin-bottom: 15px;
		margin-top: 45px;
	}
	.lead-copy {
		margin: 0 auto;
	}
	.container--wide {
		padding-top: 8%;
		padding-bottom: 8%;
	}

	@include respond(480px) {
		background-position: 0 -60px;
	}
	@include respond($med) {
		@include background-size(auto);
		background-position: -200px -100px;
	}
	@include respond($lrg) {
		background-position: -120px -45px;
		.container--wide {
			padding-top: 4.5%;
			padding-bottom: 4.5%;
		}
	}
	@include respond(1100px) {
		background-position: -120px -60px;
	}
	@include respond(1250px) {
		background-position: -90px -45px;
	}
	@include respond(1350px) {
		background-position: 0 -45px;
	}
	@include respond(1500px) {
		background-position: top left;
	}
}

.shop__secondary-nav {
	@extend .secondary-nav;
}

/*------------------------------------------------------------------
    PAGE: Shop / Category page
-------------------------------------------------------------------*/

.shop__products {
	padding-top: 30px;
}

.shop-products__grid {
	@extend .product-grid;

	ul {
		padding-top: 15px;
	}

	ul > li {
		margin-top: 30px;
		margin-bottom: 15px;
	}

	ul > li {
		a.shop-product__recipe-promo:link,
		a.shop-product__recipe-promo:visited {
			display: block;
			margin: 0 auto;
			max-width: 285px;
			text-align: center;
			text-decoration: none;

			img {
				border: none;
				display: block;
				margin: 0 auto;
				max-width: 248px;
				padding: 0;
				width: 100%;
			}

			@include respond(1200px, "min") {
				padding: 20px 0;
			}
		}
	}
}

/*------------------------------------------------------------------
    PAGE: Shop / Pagination
-------------------------------------------------------------------*/

.shop__pagination {
	@extend .pagination;
}