/*------------------------------------------------------------------
    PAGE: Shop
-------------------------------------------------------------------*/

header.shop__header {
	background-image: url('../_img/as_shop_illustration01.jpg');
	background-repeat: no-repeat;
	background-position: 0 -30px;
	@include background-size(60%);

	text-align: center;

	h1.page-title {
		margin-bottom: 15px;
		margin-top: 45px;
	}
	.lead-copy {
		margin: 0 auto;
	}

	@include respond($med) {
		@include background-size(auto);
		background-position: -200px -100px;
	}
	@include respond($lrg) {
		background-position: -120px -40px;
	}
	@include respond(1280px) {
		background-position: top left;
	}
}

.shop__secondary-nav {
	@extend .secondary-nav;
}

.shop__products {
	border-top: 1px solid $bordercolor;
}

/*------------------------------------------------------------------
    PAGE: Shop / Category page
-------------------------------------------------------------------*/

.shop-products__grid {

	@extend .product-grid;
	margin-top: 30px;

	ul {
		padding-top: 15px;
	}

	ul > li {
		margin-top: 30px;
		margin-bottom: 15px;
	}

	ul > li {
		a.shop-product__recipe-promo:link,
		a.shop-product__recipe-promo:visited {
			display: block;
			margin: 0 auto;
			max-width: 285px;
			text-decoration: none;

			p {
				@include transition(background-color .25s);
				@extend .archer-bold;
				background-color: $red;
				color: #FFF;
				display: block;
				font-size: 16px;
				font-size: 1.6rem;
				margin: 0;
				padding: 6px 0;
				text-decoration: none;
				text-transform: uppercase;
			}
			img {
				border: none;
				display: block;
				margin: 0;
				padding: 0;
				width: 100%;
			}

			&:hover,
			&:active {
				p {
					background-color: $blue;
				}
			}

			@include respond(1200px, "min") {
				padding: 20px 0;
			}
		}
	}
}

/*------------------------------------------------------------------
    PAGE: Shop / Pagination
-------------------------------------------------------------------*/

.shop__pagination {
	@extend .pagination;
}