/*------------------------------------------------------------------
    PAGE: Stores
-------------------------------------------------------------------*/

.page__stores {

	header.main-header {
		text-align: center;

		h1.page-title {
			color: $red;
			margin: 0 auto;
			margin-bottom: 5px;

			@include respond($med) {
				max-width: 65%;
			}
		}
		.lead-copy {
			margin-bottom: 45px;
		}
	}

	.store-location:last-child {
		border-bottom: none;
	}
}

.store-location {
	border-bottom: 1px solid $bordercolor;
	text-align: left;

	.container--wide {
		@include respond($med) {
			padding-top: 5%;
			padding-bottom: 5%;
		}
		@include respond($lrg) {
			padding-top: 5%;
			padding-bottom: 5%;
		}
	}

	.col-1-2.store-info-col {
		float: none;
		margin: 15px 0 30px 0;
		text-align: center;
		width: 100%;

		@include respond($lrg) {
			float: left;
			margin: 0;
			padding-right: 90px;
			text-align: left;
			width: (1/2) * 100%;

			&:nth-child(2) {
				padding-right: 0;
			}
		}
	}

	.store-location__info {
		@extend .archer-med;
		font-size: 18px;
		font-size: 1.8rem;
	}

	@include respond($med) {
		&#petoskey {
			text-align: left;
		}
	}
}

.store-location__meta {
	margin: 0 auto;
	max-width: $store-location-meta;

	@include respond($med) {
		padding-left: 90px;
	}
	@include respond($lrg) {
		padding-left: 0;
	}

	.col-2-5 {
		margin: 0;

		@include respond($med) {
			width: (($store-location-meta) * 9 / 20) / $store-location-meta * 100%;
		}
	}
	.col-3-5 {
		margin: 0;

		@include respond($med) {
			width: (($store-location-meta) * 11 / 20) / $store-location-meta * 100%;
		}
	}
}

.store-location__address,
.store-location__phone,
.store-location__hours {
	@extend .archer-med;
	font-size: 16px;
	font-size: 1.6rem;
	text-align: left;

	@include respond($med) {
		font-size: 18px;
		font-size: 1.8rem;
		line-height: 24px;
		line-height: 2.4rem;
	}
	@include respond($lrg) {
		font-size: 22px;
		font-size: 2.2rem;
		line-height: 28px;
		line-height: 2.8rem;
	}
}

.store-location__address,
.store-location__phone,
.store-location__hours-title,
.store-location__address-title,
.store-location__phone-title {
	span[class*="as-icon"] {
		display: inline-block;
		font-size: 26px;
		font-size: 2.6rem;
		margin: -5px 8px 0 0;
		vertical-align: middle;
	}
}

.store-location__address {
	line-height: 16px;
	line-height: 1.6rem;
	margin-bottom: 15px;
	margin-top: 1px;

	@include respond($med) {
		line-height: 28px;
		line-height: 2.8rem;
	}
}

.store-location__phone {
	font-size: 15px;
	font-size: 1.5rem;
	margin: 15px 0 15px 0;
}

.store-location__hours-title,
.store-location__address-title,
.store-location__phone-title {
	text-align: left;
	height: 25px;
}

.store-location__hours,
.store-location__address {
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 22px;
	line-height: 2.2rem;
	margin: 0 0 0 35px;

	@include respond($med) {
		margin: 0 0 0 37px;
		line-height: 25px;
		line-height: 2.5rem;
	}
}

.store-location__photo {
	max-height: 378px;
	margin: 30px 0 0 0;

	@include respond($med) {
		margin: 0;
	}

	img {
		max-width: 838px;
		width: 100%;

		@include respond($med) {
			max-height: 545px;
		}
	}
}

.lead__store-graphic {
	padding-top: 30px;
	text-align: center;

	img {
		margin: 0 auto;
		max-width: 472px;
		width: 100%;
	}

	@include respond($med) {
		padding-top: 0;
	}
	@include respond(800px) {
		img {
			max-width: 75%;
		}
	}
	@include respond($lrg) {
		img {
			max-width: 472px;
		}
	}
}

.lead__store-details {
	$row-width: 660px;
	margin-bottom: 30px;

	@include respond($lrg) {
		margin-bottom: 15px;
	}

	.store-location__phone-title {
		margin-left: 0;
	}
	.store-location__phone {
		@extend .store-location__address;
	}

	.store__phone-col {
		float: left;
		width: (1/2) * 100%;

		@include respond($lrg) {
			width: (160px/$row-width) * 100%;
		}
	}
	.store__address-col {
		float: left;
		width: (1/2) * 100%;

		@include respond($lrg) {
			width: (200px/$row-width) * 100%;
		}
	}
	.store__hours-col {
		float: left;
		margin-top: 15px;
		width: 100%;

		@include respond($lrg) {
			margin-top: 0;
			width: (300px/$row-width) * 100%;
		}
	}
}

a.spoon-cafe-module.btn:link,
a.spoon-cafe-module.btn:visited {
	@include border-radius(0);
	border: 2px solid $blue;
	color: $blue;
	display: table;
	height: auto;
	margin: 30px 0 0 0;
	height: 60px;
	padding: 15px 30px;
	position: relative;
	text-align: center;
	width: 100%;

	span {
		display: table-cell;
		margin: 0 auto;
		text-align: center;
		vertical-align: middle;
	}

	@include respond($lrg) {
		height: 106px;
	}
	@include respond($xlrg) {
		background: url('../_img/as_stores_spoon-cafe_illustration2.jpg') no-repeat 470px 50%;
		padding: 15px 15px 15px 45px;

		span {
			text-align: left;
		}
	}
}

#petoskey {
	background-color: #f6f6f6;
	border-bottom: none;

	.container--full:first-of-type {
		padding-bottom: 0;
		padding-top: 0;
	}

	.container--wide {
		padding-bottom: 8%;
		padding-top: 8%;

		@include respond($xlrg) {
			padding-bottom: 7%;
			padding-top: 7%;
		}
	}

	.module__subhead {
		@extend .verlag-bold;
		margin-bottom: 15px;
		padding-bottom: 5px;
	}

	.col-2-5 {
		float: none;
		margin: 0;
		width: 100%;

		@include respond(800px) {
			float: left;
			width: (2/5) * 100%;
		}
	}

	.col-3-5 {
		float: none;
		margin: 0;
		width: 100%;

		@include respond(800px) {
			float: left;
			width: (3/5) * 100%;
		}
		@include respond($lrg) {
			padding-left: 60px;
		}
	}

	h2 {
		margin-top: 15px;
		margin-bottom: 5px;
	}

	h2, .store-location__phone-title, .module__subhead, .store-location__hours-title, .store-location__address-title, .store-location__address span, .store-location__phone span, .store-location__hours-title span { color: $blue; }
}
#harbor-springs {
	h2, .store-location__hours-title, .store-location__address-title, .store-location__address span, .store-location__phone span, .store-location__hours-title span { color: $peach; }
}
#charlevoix {
	h2, .store-location__hours-title, .store-location__address-title, .store-location__address span, .store-location__phone span, .store-location__hours-title span { color: $olive-green; }
}
#williamsburg {
	h2, .store-location__hours-title, .store-location__address-title, .store-location__address span, .store-location__phone span, .store-location__hours-title span { color: $brown; }
}
#traverse-city {
	h2, .store-location__hours-title, .store-location__address-title, .store-location__address span, .store-location__phone span, .store-location__hours-title span { color: $pumpkin; }
}
#saugatuck {
	h2, .store-location__hours-title, .store-location__address-title, .store-location__address span, .store-location__phone span, .store-location__hours-title span { color: $yellow-green; }
}