/*------------------------------------------------------------------
    SHIPPING BANNER
-------------------------------------------------------------------*/

a.shipping-banner--link:link,
a.shipping-banner--link:visited {
	@include opacity(1);
	border: 0;
	display: none;
	overflow: visible;
	position: relative;
	text-decoration: none;
	width: 100%;

	&:hover, &:active {
		@include opacity(.8);
	}

	@include respond($header-nav-break) {
		display: block;
	}
}

.shipping-banner {
	@include transition(all $header-transition-speed);
	@include opacity(1);

	background-color: #FFF;
	border-bottom: 2px solid $bordercolor;
	border-top: 2px solid $bordercolor;
	height: auto;
	min-height: $shipping-banner-height;
	position: relative;
	text-align: center;
	vertical-align: middle;
	visibility: visible;
	width: 100%;
	z-index: $z-shipping-banner;

	.container--wide {
		padding-top: 0;
		padding-bottom: 0;
	}

	.as-icon-shipping {
		color: $red;
		display: inline-block;
		font-size: 36px;
		font-size: 3.6rem;
		margin: 0 30px;
		vertical-align: middle;
	}

	.divider {
		@extend .archer-bold;
		margin: 0 15px;
	}

	p {
		@extend .archer-bold-ital;
		color: $red;
		display: inline-block;
		font-size: 16px;
		font-size: 1.6rem;
		letter-spacing: 0.09em;
		line-height: 45px;
		margin: 0;
		vertical-align: middle;

		strong {
			@extend .archer-bold;
		}
	}

	&.hidden {
		visibility: hidden;
		top: 0;
	}
}

.shipping-banner--red {
	background-color: $red;
	border-top: none;
	border-bottom: none;

	.as-icon-shipping, p {
		color: #FFF;
	}
}