/*------------------------------------------------------------------
	TYPE
-------------------------------------------------------------------*/

html {
	font: normal 60% "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
	line-height: 100%;

	@include respond($med) {
		font-size: 62.5%;
	}
}

body {
	font-size: 14px; // IE7 & 8 support
	line-height: 22px; // IE7 & 8 support
	font-size: 1.4rem;
	line-height: 2.2rem;
}

/*------------------------------------------------------------------
	HEADLINES
-------------------------------------------------------------------*/

.page-title {
	@extend .archer-light-ital;
	color: #BBB;
	font-size: 42px;
	font-size: 4.2rem;
	line-height: 46px;
	line-height: 4.6rem;
	margin-bottom: 30px;
	text-align: center;

	@include respond($med) {
		font-size: 50px;
		font-size: 5.0rem;
		line-height: 56px;
		line-height: 5.6rem;
		margin-bottom: 45px;
	}
	@include respond($lrg) {
		margin-bottom: 60px;
	}
}

.page-super {
	@extend .verlag-bold;
	border-bottom: 1px solid $bordercolor;
	color: #BBB;
	display: inline-block;
	font-size: 15px;
	font-size: 1.5rem;
	padding: 0 30px 10px 30px;
	letter-spacing: 0.1em;
	margin: 15px auto 30px auto;
	text-transform: uppercase;
	width: auto;

	@include respond($med) {
		margin-top: 0;
		margin-bottom: 45px;
	}
}

.module__subhead {
	@extend .verlag-book;
	border-bottom: 1px solid $bordercolor;
	color: $primary-copy-light;
	font-size: 16px;
	font-size: 1.6rem;
	letter-spacing: 0.06rem;
	padding: 0 0 15px 0;
	margin: 0 0 15px 0;
	text-align: left;
	text-transform: uppercase;
}

.section-subhead--lrg {
	@extend .archer-light-ital;
	font-size: 36px;
	font-size: 3.6rem;
	line-height: 42px;
	line-height: 4.2rem;
	margin-bottom: 45px;
	text-align: center;

	@include respond($med) {
		font-size: 50px;
		font-size: 5.0rem;
		line-height: 46px;
		line-height: 4.6rem;
		margin-bottom: 60px;
	}
}

.section__subhead {
	@extend .section-subhead--lrg;
	color: $primary-headline;
	margin-bottom: 15px;

	@include respond($med) {
		font-size: 40px;
		font-size: 4.0rem;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-style: normal;
}

h1 {

	@extend .archer-med-ital;
	color: $primary-copy;
	font-size: 36px;
	font-size: 3.6rem;
	line-height: 50px;
	line-height: 5.0rem;

	&.section__headline {
		font-size: 28px;
		font-size: 2.8rem;
		margin: 0 0 60px 0;
	}

	&.featured-products__headline {
		font-size: 30px;
		font-size: 3.0rem;
	}

	&.prodcut-details__product-name {
		@extend .archer-book;
		color: $red;
		font-size: 40px;
		font-size: 4.0rem;
		line-height: 52px;
		line-height: 5.2rem;
		margin: 0 0 30px 0;
		text-align: center;

		@include respond($med) {
			text-align: left;
			margin: 0 0 45px 0;
		}
	}

	@include respond($med) {
		font-size: 52px;
		font-size: 5.2rem;
	}

}

h2 {
	color: $red;
	font-size: 36px;
	font-size: 3.6rem;

	&.login__header {
		@extend .verlag-bold;
		border-bottom: 1px solid $bordercolor;
		font-size: 22px;
		font-size: 2.2rem;
		margin: 15px 0 30px 0;
		padding: 0 0 30px 0;
		text-align: center;
		text-transform: uppercase;
	}

	&.store-location__title {
		@extend .archer-med-ital;
		font-size: 36px;
		font-size: 3.6rem;
		line-height: 42px;
		line-height: 4.2rem;
		margin: 0 0 15px 0;

		@include respond($med) {
			font-size: 46px;
			font-size: 4.6rem;
			line-height: 58px;
			line-height: 5.8rem;
		}
	}

}

h3 {

	@extend .archer-light-ital;
	font-size: 30px;
	font-size: 3.0rem;
	line-height: 34px;
	line-height: 3.4rem;
	margin: 0 0 60px 0;
	text-align: center;

	&.shop__section-head {
		border-bottom: 1px solid $bordercolor;
		color: $primary-headline;
		font-size: 30px;
		font-size: 3.0rem;
		line-height: 40px;
		line-height: 4.0rem;
		margin: 0 0 45px 0;
		text-align: left;
	}

	&.recipes-jump__headline {
		color: $blue;
		font-size: 24px;
		font-size: 2.4rem;
		line-height: 28px;
		line-height: 2.8rem;
		margin: 0 0 15px 0;

		@include respond($med) {
			font-size: 32px;
			font-size: 3.2rem;
			line-height: 34px;
			line-height: 3.4rem;
			margin-left: 0;
			margin-right: 0;
		}
	}

	&.footer__sign-up__head {
		color: $red;
		font-size: 34px;
		font-size: 3.4rem;
		line-height: 44px;
		line-height: 4.4rem;
		margin: 0 0 45px 0;

		span {
			@extend .archer-book;
			color: $primary-copy;
			display: block;
			font-size: 22px;
			font-size: 2.2rem;
			line-height: 30px;
			line-height: 3.0rem;
			margin-top: 15px;
		}

		@include respond($med) {
			font-size: 50px;
			font-size: 5.0rem;
			line-height: 58px;
			line-height: 5.8rem;
		}
	}
}

h4 {

	font-size: 24px;
	font-size: 2.4rem;

	&.related-recipes__headline {
		@extend .archer-book;
		color: $primary-copy;
		font-size: 18px;
		font-size: 1.8rem;
		margin: 0 0 10px 0;
	}

	&.cart__promo__headline {
		@extend .module__subhead;
	}

	&.category__list__recipe-name {
		@extend .verlag-black;
		color: $primary-copy;
		text-transform: uppercase;
		font-size: 16px;
		font-size: 1.6rem;
		margin: 30px 60px;
		text-align: center;
	}

	&.product-preview__subhead {
		@extend .archer-med;
		border-bottom: 1px solid $bordercolor;
		color: $primary-copy;
		margin: 15px 15px 30px 15px;
		padding: 0 0 15px 0;
		text-align: left;

		@include respond($med) {
			margin: 0 0 30px 0;
		}
	}

	&.careers-list__head {
		@extend .verlag-bold;
		font-size: 16px;
		font-size: 1.6rem;
		margin-bottom: 5px;
		text-transform: uppercase;
	}

}

h5 {

	font-size: 18px;
	font-size: 1.8rem;

	&.footer__primary__contact__head {
		@extend .archer-bold-ital;
		color: $red;
		font-size: 32px;
		font-size: 3.2rem;
		line-height: 38px;
		line-height: 3.8rem;

		@include respond($med) {
			font-size: 24px;
			font-size: 2.4rem;
			line-height: 30px;
			line-height: 3.0rem;
		}
	}

	&.store-location__hours-title,
	&.store-location__address-title  {
		@extend .verlag-black;
		text-transform: uppercase;
		font-size: 12px;
		font-size: 1.2rem;
		line-height: 18px;
		line-height: 1.8rem;
		letter-spacing: 0.06em;
	}

	&.press-list__head {
		@extend .verlag-book;
		border-bottom: 1px solid $bordercolor;
		color: $primary-copy;
		font-size: 16px;
		font-size: 1.6rem;
		text-transform: uppercase;
	}

	&.related-products__headline {
		@extend .verlag-book;
		border-bottom: 1px solid $bordercolor;
		color: $primary-copy;
		font-size: 16px;
		font-size: 1.6rem;
		line-height: 24px;
		line-height: 2.4rem;
		letter-spacing: 0.05em;
		padding: 0 0 15px 0;
		text-transform: uppercase;
	}

}

h6 {

	font-size: 16px;
	font-size: 1.6rem;

}

/*------------------------------------------------------------------
	PARAGRAPH STYLES
-------------------------------------------------------------------*/

p, ol li, ul li {
	@extend .archer-book;
	color: $primary-copy;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 22px;
	line-height: 2.2rem;

	&.lead-copy {
		font-size: 18px;
		font-size: 1.8rem;
		line-height: 26px;
		line-height: 2.6rem;

		@include respond($med) {
			font-size: 22px;
			font-size: 2.2rem;
			line-height: 34px;
			line-height: 3.4rem;
		}
	}

	@include respond($med) {
		font-size: 20px;
		font-size: 2.0rem;
		line-height: 28px;
		line-height: 2.8rem;
	}
}

p {
	margin: 0 0 30px 0;
}

p.call-out {
	@extend .verlag-black;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 18px;
	line-height: 1.8rem;
	text-transform: uppercase;
}

/*------------------------------------------------------------------
	LIST STYLES
-------------------------------------------------------------------*/

ul li {}
ol li {}

/*------------------------------------------------------------------
	MISC
-------------------------------------------------------------------*/

small {}
sup {}
em {}
strong {}